@layer components {
	.grid-solutions {
		.search {
            @apply relative flex;

            input {
                @apply h-[2.75rem] text-black !rounded-[2.75rem] w-[15rem] border-[1px] border-light-grey overflow-hidden pl-[1rem];

                &:placeholder {
                    @apply text-black-40;
                }
            }

            svg {
                @apply absolute center-y right-[0.75rem] h-[1.5rem] w-auto;
            }
        }

        .cards-container {
            @apply flex flex-wrap max-sm:flex-col w-full border-l-[1px] border-l-light-grey;
        }

        .empty,
        .load-more {
            &:not(.active) {
                @apply hidden;
            }
        }

        .empty {
            @apply ~py-[2.5rem]/[4rem];
        }

        .filter {
            &-dd {
                @apply h-0 overflow-hidden;

                &.active {
                    @apply h-auto;

                    .filter-dd-inner {
                        @apply opacity-100 translate-y-0 visible;
                        @apply transition-all duration-[0.4s] ease-power2-out;
                    }
                }
            }

            &-dd-inner {
                @apply opacity-0 translate-y-[-1.25rem] invisible;
                @apply ~pt-[0.5rem]/[0.75rem] ~pb-[1.25rem]/[2rem] flex flex-col ~gap-[1.25rem]/[2rem];
            }

            &-group {
                @apply flex flex-col ~gap-[0.5rem]/[0.75rem];
            }

            &-children {
                @apply grid sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 ~gap-[0.25rem]/[0.75rem];
            }

            &-item {
                @apply relative flex items-center ~gap-[0.5rem]/[0.75rem] w-fit;

                &, & * {
                    @apply cursor-pointer;
                }

                input {
                    @apply absolute top-0 left-0 h-full w-full opacity-0 z-[2];
                }

                p {
                    @apply text-black-75;
                }

                &:has(input:checked) {
                    .filter {
                        &-box {
                            @apply bg-black border-black;

                            svg {
                                @apply opacity-100;
                            }
                        }
                    }
                }
            }

            &-box {
                @apply flex items-center justify-center h-[1rem] w-[1rem] rounded-[0.25rem] border-[1px] border-black bg-white;
                @apply transition-colors duration-300 ease-power2-out;

                svg {
                    @apply opacity-0;
                    @apply transition-opacity duration-300 ease-power2-out;
                }
            }
        }
	}
}
