<section class="nf">
	<div class="container">
		<div class="st-xl sb-xl">
			<div class="flex flex-col gap-[11rem]">
				<div class="flex flex-col ~gap-[1.5rem]/[2rem]">
					{% if nf_heading %}
						<h3>{{ nf_heading}}</h3>
					{% endif %}

					{% include 'components/cta.twig' with {
                        class: 'filled blue',
                        cta: {
                            link: "#",
                            title: nf_cta_text
                        },
                    } %}
				</div>

				<div class="~pl-[0rem]/[30.625rem]">
					<svg class="w-full h-auto" width="847" height="340" viewbox="0 0 847 340" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M550.725 169.98C550.725 58.5221 508.083 1.88887 422.799 1.01074L420.776 1C334.62 1 291.305 57.1685 291.305 169.98L291.313 172.613C291.979 282.792 334.614 338.086 418.765 338.95L420.776 338.96C506.732 338.96 550.045 283.198 550.717 172.603L550.725 169.98ZM180.404 332.772V263.8H4.3321C3.11883 263.8 2.00986 263.339 1.21198 262.461C0.419477 261.589 0.000100556 260.382 6.37201e-05 258.992V242.808C5.64443e-05 241.451 -0.0364819 239.163 1.65241 237.412L167.738 5.17871L167.745 5.16895L167.752 5.16016C169.418 2.93843 171.662 2.37988 173.313 2.37988V3.37988L173.039 3.38574C171.648 3.44498 169.891 3.97472 168.552 5.75977L2.4278 238.048C0.999979 239.476 1.00006 241.38 1.00006 242.808V258.992L1.00397 259.212C1.08662 261.387 2.39881 262.713 4.15534 262.796L4.3321 262.8H181.404V332.772L181.408 332.992C181.491 335.167 182.817 336.493 184.992 336.576L185.212 336.58H218.532L218.752 336.576C220.927 336.493 222.253 335.167 222.336 332.992L222.34 332.772V262.8H271.844C274.15 262.8 275.562 261.46 275.648 259.212L275.652 258.992V231.86C275.652 229.48 274.224 228.052 271.844 228.052V227.052C273.234 227.052 274.464 227.473 275.348 228.356C276.231 229.24 276.652 230.47 276.652 231.86V258.992C276.652 260.383 276.231 261.613 275.348 262.496C274.464 263.379 273.234 263.8 271.844 263.8H223.34V332.772C223.34 334.163 222.918 335.392 222.035 336.275C221.152 337.159 219.923 337.58 218.532 337.58H185.212C183.822 337.58 182.591 337.159 181.708 336.275C180.825 335.392 180.404 334.163 180.404 332.772ZM750.563 332.772V263.8H574.491C573.278 263.8 572.169 263.339 571.371 262.461C570.579 261.589 570.159 260.382 570.159 258.992V242.808C570.159 241.45 570.122 239.161 571.813 237.41L737.898 5.17871L737.904 5.16895L737.911 5.16016C739.577 2.93852 741.821 2.3799 743.471 2.37988V3.37988C742.043 3.3799 740.139 3.85598 738.711 5.75977L572.587 238.048C571.159 239.476 571.159 241.38 571.159 242.808V258.992L571.163 259.212C571.246 261.387 572.557 262.713 574.314 262.796L574.491 262.8H751.563V332.772L751.567 332.992C751.651 335.167 752.975 336.493 755.15 336.576L755.371 336.58H788.69L788.911 336.576C791.086 336.493 792.411 335.167 792.494 332.992L792.499 332.772V262.8H842.003L842.223 262.796C844.398 262.713 845.724 261.387 845.807 259.212L845.811 258.992V231.86C845.811 229.555 844.47 228.143 842.223 228.057L842.003 228.052V227.052C843.393 227.052 844.624 227.473 845.507 228.356C846.39 229.24 846.811 230.47 846.811 231.86V258.992C846.811 260.383 846.39 261.613 845.507 262.496C844.624 263.379 843.393 263.8 842.003 263.8H793.499V332.772C793.499 334.163 793.078 335.392 792.194 336.275C791.311 337.159 790.081 337.58 788.69 337.58H755.371C753.981 337.58 752.751 337.159 751.867 336.275C750.984 335.392 750.563 334.163 750.563 332.772ZM508.313 169.98C508.313 123.872 501.294 90.5546 486.88 68.7871C472.523 47.1046 450.735 36.7481 420.776 36.748C390.574 36.748 368.911 46.9888 354.734 68.6045C340.499 90.3109 333.716 123.627 333.716 169.98C333.716 216.333 340.499 249.649 354.734 271.355C368.911 292.971 390.574 303.212 420.776 303.212V304.212L419.355 304.204C359.898 303.567 333.14 262.726 332.722 172.146L332.716 169.98C332.716 77.1605 359.848 35.748 420.776 35.748L422.188 35.7559C481.666 36.4059 509.313 78.3581 509.313 169.98L509.307 172.135C508.871 262.976 480.756 304.212 420.776 304.212V303.212C450.736 303.212 472.523 292.855 486.88 271.173C501.293 249.405 508.313 216.089 508.313 169.98ZM792.499 7.18848C792.499 4.80848 791.07 3.37988 788.69 3.37988V2.37988C790.081 2.37988 791.311 2.80126 792.194 3.68457C793.078 4.56787 793.499 5.798 793.499 7.18848V227.052H842.003V228.052H792.499V7.18848ZM222.34 7.18848C222.34 4.88272 221 3.46965 218.752 3.38379L218.532 3.37988V2.37988C219.923 2.37993 221.152 2.8014 222.035 3.68457C222.919 4.56788 223.34 5.79797 223.34 7.18848V227.052H271.844V228.052H222.34V7.18848ZM182.832 44.792V228.052H53.3604V226.624L181.404 44.792H182.832ZM752.991 44.792V228.052H623.519V226.624L751.563 44.792H752.991ZM624.519 226.94V227.052H751.991V45.9199L624.519 226.94ZM54.3604 226.94V227.052H181.832V45.9209L54.3604 226.94ZM788.69 2.37988V3.37988H743.471V2.37988H788.69ZM218.532 2.37988V3.37988H173.313V2.37988H218.532ZM551.725 169.98C551.725 226.249 540.88 268.752 519.03 297.205C497.142 325.708 464.329 339.96 420.776 339.96C377.463 339.96 344.768 325.828 322.939 297.384C301.148 268.99 290.305 226.486 290.305 169.98C290.305 113.475 301.148 70.9713 322.939 42.5771C344.768 14.1329 377.463 0 420.776 0C464.329 2.66354e-05 497.142 14.252 519.03 42.7549C540.881 71.2082 551.725 113.712 551.725 169.98Z" fill="#08E8BD"/>
					</svg>
				</div>
			</div>
		</div>
	</div>
</section>
