@layer components {
	.content-rich-text-rc-start {
		@apply opacity-0;

		& ~ :not(.content-rich-text-rc-end) {
			@apply hidden;
		}
	}

	.content-rich-text {
		@apply border-t-[1px] border-light-grey;

		.content-outer {
			@apply ~pr-[0rem]/[21.375rem] relative;
		}

		.content {
			@apply text-[1rem] font-abc font-normal leading-[150%] text-black-75;

			& > * {
				@apply ~mb-[0.5rem]/[0.75rem];

				&:first-child {
					@apply !mt-0;
				}

				&:last-child {
					@apply !mb-0;
				}
			}

			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				@apply block ~mt-[1.25rem]/[2rem] text-black;
			}

			& > .wp-block-heading {
				@apply relative;
			}

			b,
			strong {
				@apply font-normal;
			}

			p {
				&:empty {
					@apply hidden;
				}
			}

			a:not(.wp-block-button__link):not(.btn):not(
					.wp-block-file__button
				) {
				@apply text-rust relative w-fit inline-block;
				text-decoration: none;

				&::after {
					content: "";
					@apply absolute left-0 bottom-[0.125rem] w-full h-[1px] bg-rust scale-x-0 origin-right transition-transform ease-power2-out duration-[400ms];
					transition-property: background, transform;
				}

				&:hover::after {
					@apply scale-x-100 origin-left ease-out;
				}
			}

			ul.wp-block-list,
			ol.wp-block-list {
				@apply flex flex-col gap-[0.5rem];
			}

			ul.wp-block-list {
				list-style-type: disc;
			}

			ol.wp-block-list {
				list-style-type: decimal;
			}

			ul.wp-block-list {
				@apply ml-[1.625rem];
			}

			ol.wp-block-list {
				@apply ml-[1.25rem];
			}

			ul.wp-block-list ul,
			ol.wp-block-list ul {
				list-style-type: circle;
				@apply ml-[1.625rem] pt-[0.5rem];
			}

			ol.wp-block-list ol,
			ul.wp-block-list ol {
				list-style-type: lower-latin;
				@apply ml-[1.625rem] pt-[0.5rem];
			}

			ul.wp-block-list > li {
				@apply list-none relative;

				&::before {
					content: "";
					@apply absolute top-[0.5rem] left-[-0.875rem] h-[0.375rem] w-[0.375rem] bg-black-75 rounded-[50%];
				}
			}

			.wp-block-pullquote,
			.wp-block-quote {
				@apply bg-neutral-10 rounded-[0.25rem] ~pt-[2.5rem]/[4rem] ~pb-[2rem]/[3rem] px-[2rem] mb-0 border-[1px] border-light-grey text-left;
			}

			.wp-block-pullquote {
				@apply ~mt-[1.25rem]/[2rem];

				blockquote {
					@apply flex flex-col gap-[1rem];

					&::before {
						content: "“”";
						@apply font-geist leading-[32%] uppercase text-[3rem] text-rust;
					}

					p {
						@apply text-[1.5rem] font-abc font-light leading-[134%] tracking-[-0.045rem] text-black;
					}

					cite {
						@apply not-italic;
					}
				}
			}

			.wp-block-quote {
				@apply flex flex-col gap-[1rem] ~my-[1.25rem]/[2rem];

				&::before {
					content: "“”";
					@apply font-geist leading-[32%] uppercase text-[3rem] text-rust;
				}

				p {
					@apply text-[1.5rem] font-abc font-light leading-[134%] tracking-[-0.045rem] text-black;
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					@apply not-italic m-0;
					@apply text-[1rem] font-abc font-normal leading-[150%] text-black-75 tracking-normal;

					span {
						font-size: inherit !important;
					}
				}
			}

			.wp-block-image {
				@apply ~mt-[1.25rem]/[2rem];

				img {
					@apply rounded-[0.5rem] overflow-hidden;
					/* @apply ~min-h-[12rem]/[30.375rem] aspect-[864/486]; */
				}

				& + figcaption {
					@apply mt-[0.75rem];
				}

				figure {
					@apply w-full;

					img {
						@apply h-auto w-full object-contain;
					}
				}
			}

			.wp-block-buttons {
				@apply flex flex-wrap ~gap-[1.25rem]/[1.5rem];
			}

			.image-fit {
				img {
					@apply object-contain;
				}
			}

			.wp-block-riovizual-tablebuilder {
				@apply block mt-[1.25rem] overflow-x-auto;

				table,
				th,
				td {
					@apply !border-separate !border-spacing-0 !border-0 !border-light-grey;
				}

				table {
					@apply max-md:min-w-[62.5rem] rounded-[0.25rem];

					&:not(:has(th)) {
						tr:first-child {
							td {
								border-top: 1px solid #e7e7e7 !important;

								&:first-child {
									border-top-left-radius: 0.25rem !important;
								}

								&:last-child {
									border-top-right-radius: 0.25rem !important;
								}
							}
						}
					}

					tr th,
					tr td {
						border-right: 1px solid #e7e7e7 !important;
						border-bottom: 1px solid #e7e7e7 !important;
					}

					tr th:first-child,
					tr td:first-child {
						border-left: 1px solid #e7e7e7 !important;
					}

					tr th {
						border-top: solid 1px #e7e7e7 !important;
					}

					tr:first-child th:first-child {
						border-top-left-radius: 0.25rem !important;
					}

					tr:first-child th:last-child {
						border-top-right-radius: 0.25rem !important;
					}

					tr:last-child td:first-child {
						border-bottom-left-radius: 0.25rem !important;
					}

					tr:last-child td:last-child {
						border-bottom-right-radius: 0.25rem !important;
					}

					th,
					td {
						@apply ~p-[0.5rem]/[0.75rem];

						.rv_tb-text {
							@apply p-0;
						}
					}

					th {
						@apply border-black bg-neutral-10;

						.rv_tb-text {
							@apply font-normal font-geist leading-[158%] ~text-[0.8125rem]/[0.875rem] uppercase text-black;
						}
					}

					td {
						.rv_tb-element,
						.rv_tb-text {
							@apply ~text-[0.875rem]/[1rem];
						}

						ul,
						ol {
							@apply flex flex-col ~gap-[0rem]/[0.25rem];
						}

						ul {
							list-style-type: disc;
						}

						ol {
							list-style-type: decimal;
						}

						ul {
							@apply ml-[1.625rem];
						}

						ol {
							@apply ml-[1.25rem];
						}

						ul ul,
						ol ul {
							list-style-type: circle;
							@apply ml-[1.625rem];
						}

						ol ol,
						ul ol {
							list-style-type: lower-latin;
							@apply ml-[1.625rem];
						}

						ul > li {
							@apply list-none relative;

							&::before {
								content: "";
								@apply absolute top-[0.625rem] ~left-[-0.75rem]/[-0.875rem] h-[0.25rem] w-[0.25rem] rounded-[50%] bg-black-75;
							}
						}

						.rv_tb-list {
							@apply m-0 py-0 pl-[1rem];
						}
					}
				}

				figcaption {
					@apply mt-[1rem] sticky left-0;
				}
			}

			.wp-block-columns {
				@apply ~mt-[1rem]/[1.75rem] gap-[1.5rem] mb-0;

				.wp-block-column {
					@apply flex flex-col ~gap-[1.25rem]/[1.5rem];

					& > *:first-child {
						@apply !mt-0;
					}

					.wp-block-image {
						@apply relative rounded-[0.5rem] overflow-hidden h-full w-full;

						img {
							@apply absolute top-0 left-0 !h-full !w-full;
						}
					}
				}
			}

			.wp-block-kevinbatdorf-code-block-pro {
				@apply rounded-[0.25rem] overflow-hidden ~mt-[1.25rem]/[2rem];
			}
		}

		&.is-resource {
			.content {
				@apply max-lg:min-w-[56%] lg:basis-[54rem] md:flex-1;

				.heading-anchor {
					@apply absolute opacity-0 pointer-events-none top-[-3.75rem] left-0;
				}

				&-outer {
					&:has(.content-sidebar) {
						@apply p-0 ~gap-[2.5rem]/[4rem] flex max-md:flex-col;
					}
				}

				&-sidebar {
					@apply max-lg:min-w-0 lg:basis-[26rem] md:flex-1 flex flex-col ~gap-[2rem]/[3rem] h-fit;

					&:has(.content-toc) {
						@apply md:sticky md:top-[3.75rem];
					}
				}

				&-toc {
					@apply flex flex-col ~gap-[0.5rem]/[0.75rem];

					&:empty {
						@apply hidden;
					}

					&.is-mobile {
						@apply md:hidden;
					}

					&.is-desktop {
						@apply max-md:hidden;
					}
				}

				&-toc-item {
					@apply flex items-center relative pl-[1rem] text-black;

					&,
					& * {
						@apply cursor-pointer;
					}

					&::before {
						content: "";
						@apply absolute top-[0.5625rem] h-[0.375rem] w-[0.375rem] rounded-[50%] bg-rust-light left-0;
						@apply transition-opacity duration-500 ease-power2-out opacity-0;
					}

					&.active {
						&::before {
							@apply opacity-100;
						}
					}
				}

				.resource-stats,
				.resource-media {
					@apply ~mt-[1.25rem]/[2rem];

					.container {
						@apply px-0;
					}
				}
			}
		}
	}
}
