@layer components {
	.tabs-expanding-tiles {
        .owl-carousel {
			.owl-stage-outer {
				@apply !overflow-visible;
			}

			.owl-dots,
			.owl-nav {
				@apply hidden;
			}
		}
        
		.tabs {
			&-container {
				@apply flex flex-col ~gap-[1.25rem]/[2rem];
			}

			&-inner {
				/* @apply flex gap-[0.75rem] flex-wrap; */
			}
		}

		.tab {
			&-items {
				@apply flex gap-[0.75rem] flex-wrap max-sm:hidden;
			}

			&-select {
				@apply sm:hidden relative;
			}

            &-panels {
                @apply relative;
            }

			&-panel {
				&.active {
					@apply transition-all duration-500 ease-power2-out;
				}

				&:not(.active) {
					@apply absolute top-0 left-0 w-full h-auto min-h-full;
					@apply translate-y-[2.5rem] invisible opacity-0 pointer-events-none;
				}
			}

			&-item {
				@apply px-[1rem] py-[0.5625rem] border border-gray rounded-[2.5rem] cursor-pointer;

				&.active {
					@apply bg-blue border-blue;

					p {
						@apply text-white;
					}
				}

				&:hover:not(.active) {
					@apply bg-blue border-blue bg-opacity-10 border-opacity-10;
				}

				&,
				p {
					@apply transition-colors duration-300 ease-power2-out;
				}
			}
		}

		.items {
			@apply flex flex-col ~gap-[1.25rem]/[1.5rem] w-full;

			&-nav {
				@apply w-full flex items-center justify-end gap-[1.5rem];
			}
		}

		.item {
			@apply ~min-h-[21.5rem]/[26.375rem] w-full aspect-square;

			&-card {
				@apply absolute top-0 left-0 h-full w-full rounded-[0.5rem] bg-blue overflow-hidden;

				& > h5 {
					@apply relative z-[2];
				}
			}

			&-card,
			&-content {
				@apply ~p-[1.25rem]/[2rem];
			}

			&-content {
				@apply flex flex-col ~gap-[1.25rem]/[2rem] relative z-[3];
				@apply h-full w-full opacity-0 absolute top-0 left-0;
			}

			&-content-inner {
				@apply flex flex-col gap-[1.5rem] opacity-0 translate-y-[1.25rem] invisible;
			}

			&-content,
			&-content-inner {
				@apply transition-all duration-500 ease-power2-out;
			}

			&-image {
				@apply absolute top-0 right-0 left-0 bottom-0 w-full h-full z-[1];
			}

			&:hover {
				.item {
					&-content {
						@apply backdrop-blur-[2.5rem] opacity-100;
						background: rgba(0, 0, 0, 0.1);
					}

					&-content-inner {
						@apply opacity-100 translate-y-0 visible;
					}
				}
			}
		}

		.ar-l,
		.ar-r {
			@apply flex items-center gap-[0.5rem];

			svg {
				@apply transition-transform duration-300 ease-power2-out;
			}
		}

		.ar-l {
			&:hover {
				svg {
					@apply translate-x-[-0.25rem];
				}
			}
		}

		.ar-r {
			&:hover {
				svg {
					@apply translate-x-[0.25rem];
				}
			}
		}
	}
}
