@layer components {
	.resource-media {
		figcaption {
			@apply mt-[0.75rem];
		}

		.media-container-outer {
			@apply relative rounded-[0.25rem] overflow-hidden;
		}

		.media-container-inner {
			@apply h-full w-full;
		}

		.media-container {
			@apply h-full;

			&.image {
				img {
					@apply w-full h-auto;
				}
			}

			&.video {
				@apply relative bg-pitch-black aspect-video;

				iframe, video {
					@apply absolute center-xy min-h-full min-w-full w-full h-full aspect-video;
				}

                &.file {
                    video {
                        @apply pointer-events-none;
                    }
                }
			}
		}

        .media-thumbnail {
            @apply absolute top-0 left-0 h-full w-full z-[2];

            img {
                @apply absolute top-0 left-0 object-cover h-full w-full z-[1];
            }
        }

        .media-play {
            @apply border-[1px] border-white-20 rounded-[0.25rem] h-[4rem] w-[4rem] left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] scale-100 absolute bg-[rgba(255,255,255,0.01)] cursor-pointer z-[3] flex items-center justify-center backdrop-blur-[0.9375rem];
            @apply transition-transform duration-300 ease-power2-out hover:scale-110 will-change-transform;

            svg {
                @apply h-[0.875rem];
            }
        }

		.media-control {
			@apply border-[1px] border-white-20 rounded-[0.25rem] h-[2.25rem] w-[2.25rem] left-[0.75rem] bottom-[0.75rem] scale-100 absolute bg-[rgba(255,255,255,0.01)] cursor-pointer z-[3] flex items-center justify-center backdrop-blur-[0.9375rem];
			@apply transition-transform duration-300 ease-power2-out hover:scale-110 will-change-transform;

			svg {
				&:first-of-type {
					@apply hidden;
				}

				&:last-of-type {
					@apply block;
				}
			}

			&.active {
				svg {
					&:first-of-type {
						@apply block;
					}

					&:last-of-type {
						@apply hidden;
					}
				}
			}
		}
	}
}
