@layer components {
	.content-image-video-carousel {
		.words {
			@apply relative inline-flex;
		}

		.word {
			@apply absolute top-0 left-0 translate-y-[40%] opacity-0 invisible text-rust;

			&.active {
				@apply relative opacity-100 visible translate-y-0 transition-all duration-500 ease-power2-out;
			}

			&:empty {
				@apply !hidden;
			}
		}

		.carousel-container {
			@apply lg:~min-h-[29.75rem]/[36.25rem] flex max-xl:flex-col gap-[1.25rem];
		}

		.item {
			@apply ~h-[29.75rem]/[36.25rem];
		}

		.item-inner {
			@apply ~p-[1rem]/[1.5rem] rounded-[0.25rem] overflow-hidden relative opacity-20 flex h-full;
			@apply transition-all duration-500 ease-power2-out;
		}

		.item-desc {
			@apply mt-auto border-[1px] border-white-20 backdrop-blur-[3.125rem] rounded-[0.25rem] ~p-[1.25rem]/[2rem] flex flex-col ~gap-[1rem]/[1.5rem] relative z-[2] lg:max-w-[32.625rem] opacity-0 translate-y-[1.875rem] invisible;
			background: rgba(31, 33, 32, 0.2);
		}

		.media-container {
			@apply absolute top-0 left-0 w-full h-full bg-pitch-black rounded-[0.25rem];
			@apply transition-all duration-500 ease-power2-out overflow-hidden;

			iframe {
				@apply w-full h-full;
			}

			iframe,
			img {
				/* @apply h-[36.25rem]; */
			}
		}

		.owl-stage-outer {
			@apply !overflow-visible;
		}

		.owl-item {
			&.active {
				.item-inner {
					@apply opacity-100;
				}

				.item-desc {
					@apply opacity-100 visible translate-y-0 delay-[600ms];
					@apply transition-all duration-500 ease-power2-out;
				}
			}

			&:not(.active) {
				@apply pointer-events-none;

				.media-container {
					@apply lg:h-[25.875rem];
				}
			}
		}

		.owl-nav,
		.owl-dots {
			@apply hidden;
		}

		.arrow {
			@apply rounded-[50%] p-[1px] h-[2.25rem] w-[2.25rem] cursor-pointer flex items-center justify-center relative bg-black;

			&-inner {
				@apply absolute top-0 left-0 h-full w-full flex items-center justify-center z-[2];

				svg {
					@apply h-[0.625rem] w-[0.625rem];

					path {
						@apply fill-white-40 transition-colors duration-300 ease-power2-out;
					}
				}
			}

			&-progress {
				@apply absolute top-0 left-0 h-full w-full rotate-[-90deg];

				svg {
					@apply h-[2.25rem] w-[2.25rem];

					circle {
						@apply stroke-[1px] transition-colors duration-300 ease-power2-out;
					}
				}
			}

			&.prev {
				.arrow-inner {
					svg {
						@apply scale-x-[-100%];
					}
				}
			}

			&:hover {
				.arrow-inner {
					svg {
						path {
							@apply fill-white;
						}
					}
				}

				.arrow-progress {
					svg {
						circle {
							@apply stroke-rust;
						}
					}
				}
			}
		}
	}
}
