@layer components {
    .tab-quotes {
        .item-navs {
            @apply flex border-y-[1px] border-dark-grey mr-[-1px] ~h-[3.5rem]/[5rem];
        }

        .item-nav {
            @apply flex items-center justify-center h-full flex-1 shrink-0 cursor-pointer relative border-r-[1px] border-r-dark-grey;
            @apply transition-colors duration-300 ease-power2-out;

            img {
                @apply object-contain h-full w-full ~max-h-[1.125rem]/[1.875rem] ~max-w-[7.5rem]/[9rem] opacity-80 transition-opacity duration-300 ease-power2-out;
            }

            &.active,
            &:hover {
                @apply bg-neutral-700;

                img {
                    @apply opacity-100;
                }
            }

            &:not(.active) {
                @apply max-md:hidden;
            }
        }

        .item-bar {
            @apply absolute top-0 left-0 h-[1px] bg-rust w-0;
        }

        .item-quotes {
            @apply mx-auto w-full max-w-[69.625rem] relative flex;
        }

        .item-quote {
            @apply absolute w-full shrink-0 h-full opacity-0 invisible;
            
            &.active {
                @apply opacity-100 visible translate-x-0;
            }
        }

        .item-shadow-quote {
            @apply w-full shrink-0 h-auto translate-x-full invisible pointer-events-none opacity-0;
        }

        .item-quote-inner {
            @apply flex max-lg:flex-col ~gap-[1.25rem]/[3rem] h-full;
        }

        .item-quote-message {
            @apply text-white ~text-[1.5rem]/[2rem] font-light leading-[134%] md:leading-[125%] font-abc ~tracking-[-0.045rem]/[-0.06rem];
        }

        .item-quote-content {
            @apply flex-1 flex flex-col ~gap-[1.25rem]/[4rem];
        }

        .item-quote-author {
            @apply flex max-md:flex-col gap-[1rem] justify-between mt-auto;
        }

        .arrow {
            @apply h-full w-[3.5rem] shrink-0 cursor-pointer flex items-center justify-center border-r-[1px] border-r-dark-grey md:hidden;

            svg path {
                @apply fill-white-40;
            }

            &.prev {
                svg {
                    @apply scale-x-[-100%];
                }
            }

            &:hover {
                @apply bg-neutral-700;

                img {
                    @apply opacity-100;
                }
            }
        }

        & + .content-rows-title-content {
            @apply mt-[-1px];
        }
    }
}