@layer components {
	.content-rich-text-rc-start {
		@apply opacity-0;

		& ~ :not(.content-rich-text-rc-end) {
			@apply hidden;
		}
	}

	.content-rich-text {
		.content-outer {
			@apply ~px-[0rem]/[13.375rem] relative;
		}
	}

	.content-rich-text .content,
	.rs-body .rs-content {
		@apply font-inter text-[1.125rem] font-normal leading-[140%];

		.container {
			@apply contents;
		}

		& > * {
			@apply ~mb-[1rem]/[1.5rem];

			&:first-child {
				@apply !mt-0;
			}

			&:last-child {
				@apply !mb-0;
			}
		}

        figure {
            @apply max-w-full;
        }

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		.post-quote {
			@apply block ~mt-[1.25rem]/[2rem];
		}

		& > .wp-block-heading {
			@apply relative;
		}

		b,
		strong {
			@apply font-normal;
		}

		p {
			&:empty {
				@apply hidden;
			}
		}

		a:not(.wp-block-button__link):not(.btn):not(.wp-block-file__button) {
			@apply text-blue underline underline-offset-[0.125rem];
		}

		ul,
		ol {
			@apply flex flex-col gap-[0.5rem];
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;
		}

		ul {
			@apply ml-[1.625rem];
		}

		ol {
			@apply ml-[1.25rem];
		}

		ul ul,
		ol ul {
			list-style-type: circle;
			@apply ml-[1.625rem] pt-[0.5rem];
		}

		ol ol,
		ul ol {
			list-style-type: lower-latin;
			@apply ml-[1.625rem] pt-[0.5rem];
		}
	}
}
