@layer components {
	.content-featured-solutions {
		.carousel-outer {
			@apply relative lg:border-l-[1px] lg:border-l-light-grey lg:dark:border-l-dark-grey overflow-clip;
		}

		.carousel-container {
			@apply w-full lg:w-[50%];
		}

		.carousel-inner {
			@apply flex w-full;

			.card {
				@apply w-full lg:w-[50%] shrink-0 !m-0;
                @apply max-lg:~pb-[4.25rem]/[5.25rem];

				&.active {
					@apply min-w-full;

                    .card-image {
                        @apply lg:~min-h-[11.5rem]/[22.125rem] lg:aspect-[112/55];
					}
				}

				&:not(.active) {
					@apply lg:~pb-[4.25rem]/[5.25rem];

					.card-content {
						@apply lg:border-b-[1px] lg:border-light-grey lg:dark:border-dark-grey;
					}
				}
			}

            .card-image {
                @apply ~min-h-[11.5rem]/[11rem] aspect-[155/76];
            }

            .card-content {
                @apply flex-1;
            }
		}

		.arrows {
			@apply w-full lg:w-[50%] absolute bottom-0 ~h-[4.25rem]/[5.25rem] gap-[0.75rem] right-0 flex items-center justify-end ~pr-[1rem]/[1.5rem] z-[2];
			@apply bg-white dark:bg-black lg:border-r-[1px] lg:border-r-light-grey lg:dark:border-r-dark-grey max-lg:border-t-[1px] max-lg:border-light-grey max-lg:dark:border-t-dark-grey;
		}

		.arrow {
			@apply rounded-[50%] p-[1px] h-[2.25rem] w-[2.25rem] cursor-pointer flex items-center justify-center relative bg-white dark:bg-black;

			&-inner {
				@apply absolute top-0 left-0 h-full w-full flex items-center justify-center z-[2];

				svg {
					@apply h-[0.625rem] w-[0.625rem];

					path {
						@apply fill-dark-grey dark:fill-white-40 transition-colors duration-300 ease-power2-out;
					}
				}
			}

			&-progress {
				@apply absolute top-0 left-0 h-full w-full rotate-[-90deg] bg-neutral-20 dark:bg-transparent rounded-[50%];

				svg {
					@apply h-[2.25rem] w-[2.25rem];

					circle {
						@apply stroke-[1px] transition-colors duration-300 ease-power2-out;

                        &:nth-child(1) {
                            @apply dark:stroke-white-40;
                        }

                        &:nth-child(2) {
                            @apply stroke-rust;
                        }
					}
				}
			}

			&.prev {
				.arrow-inner {
					svg {
						@apply scale-x-[-100%];
					}
				}
			}

			&:hover {
				.arrow-inner {
					svg {
						path {
							@apply dark:fill-white;
						}
					}
				}

				.arrow-progress {
					svg {
						circle {
							@apply stroke-rust;
						}
					}
				}
			}
		}
	}
}
