@layer components {
	.content-full-width-image-video {
		.media-container-inner {
			@apply ~min-h-[15.125rem]/[42.125rem] h-auto relative md:~px-[1rem]/[3rem] aspect-[672/337] w-full;
		}

        .media-container {
            @apply h-full md:rounded-[0.25rem] overflow-clip w-full relative bg-black;

            &.image {
                img {
                    @apply min-w-full absolute top-0 left-0 h-full center-x;
                }
            }

            &.video {
                @apply pointer-events-none;
                
                iframe,
                video {
                    @apply absolute center-xy min-h-full min-w-full h-auto w-auto aspect-video;
                }

                &.youtube {
                    iframe {
                        @apply min-w-[600%] h-full;
                    }
                }
            }
        }
	}
}
