@layer components {
	.grid-resources {
		.search {
			@apply relative flex;

			input {
				@apply h-[2.75rem] text-black !rounded-[2.75rem] w-full border-[1px] border-light-grey overflow-hidden pl-[1rem];

				&:placeholder {
					@apply text-black-40;
				}
			}

			svg {
				@apply absolute center-y right-[0.75rem] h-[1.5rem] w-auto;
			}
		}

		.cards-container {
			@apply flex flex-wrap max-sm:flex-col w-full;
		}

		.empty,
		.load-more {
			&:not(.active) {
				@apply hidden;
			}
		}

		.empty {
			@apply ~py-[2.5rem]/[4rem];
		}

		.filter {
			&-clear {
				@apply flex items-center gap-[0.25rem] cursor-pointer opacity-0 pointer-events-none;
                @apply transition-opacity duration-300 ease-power2-out;
			}

            &-groups {
                @apply flex flex-col ~gap-[1rem]/[1.5rem];
            }

            &-group {
                @apply flex flex-col gap-[0.25rem];

                &:has(input:checked) {
                    .filter-clear {
                        @apply opacity-100 pointer-events-auto;
                    }
                }
            }

            &-head {
                @apply flex gap-[1rem] justify-between;
            }

            &-children {
                @apply flex flex-wrap gap-[0.25rem];
            }

			&-item {
				@apply relative flex items-center w-fit px-[0.5rem] rounded-[2.375rem] border-[1px] border-dark-grey max-lg:hidden;

				&,
				& * {
					@apply cursor-pointer;
				}

				input {
					@apply absolute top-0 left-0 h-full w-full opacity-0 z-[2];
				}

				p {
					@apply text-dark-grey;
				}

                &, p {
                    @apply transition-colors duration-300 ease-power2-out;
                }

				&:has(input:checked) {
                    @apply bg-dark-grey;

                    p {
                        @apply text-white;
                    }
				}
			}

            &-dd {
                @apply lg:hidden w-full relative;

                & > svg {
                    @apply h-[1.5rem] w-[1.5rem] absolute center-y right-[0.75rem];
                }

                .select2-container {
                    .select2-selection {
                        @apply !rounded-[2.75rem] border-light-grey !border-[1px] min-h-[2.75rem] pl-0 py-0 pr-[3.125rem] flex items-center;

                        .select2-selection__rendered {
                            @apply flex gap-[0.25rem] flex-wrap py-[0.625rem] pl-[1rem];
                            
                            .select2-selection__choice {
                                @apply m-0;
                            }
                        }
                    }

                    .select2-dropdown {
                        @apply top-[0.5rem] rounded-[0.25rem];
                        border: 1px solid #121212 !important;

                        .select2-results__option {
                            @apply text-[1rem] font-abc font-normal leading-[150%] px-[1rem] py-[0.75rem] text-black;
                            @apply transition-colors duration-300 ease-power2-out;

                            &.select2-results__option--highlighted,
                            &.select2-results__option--selected {
                                @apply bg-teal-light;
                            }
                        }
                    }

                    .select2-search__field {
                        @apply h-[2.75rem] m-0;
                        @apply text-[1rem] font-abc font-normal leading-[150%] px-0 py-[0.625rem];
                    }
                }
            }
		}
	}
}
