@layer components {
	.hero-form {
		@apply bg-black last-of-type:mb-[-1px];

        .marquee {
			@apply flex w-full;

			&__content {
				@apply flex shrink-0 ~gap-[2.25rem]/[3.5rem];
				animation: scroll 80s linear infinite;
			}

            &__outer {
                @apply relative w-full h-full overflow-hidden;
            }

            &__overlay {
                @apply absolute top-0 h-full w-[4.375rem] z-[2];

                &.left {
                    @apply left-0;
                    background: linear-gradient(270deg, rgba(18, 18, 18, 0.00) 0%, #121212 100%);
                }

                &.right {
                    @apply right-0;
                    background: linear-gradient(270deg, #121212 0%, rgba(18, 18, 18, 0.00) 100%);
                }
            }

			@keyframes scroll {
				0% {
					transform: translateX(0);
				}

				100% {
					transform: translateX(-100%);
				}
			}

            &.paused {
                .marquee__content {
                    animation-play-state: paused;
                }
            }
		}

		.item {
			@apply flex items-center justify-center w-auto h-[3.75rem];

            &:hover {
                @apply grayscale-0;
            }
		}

        .media-container {
            @apply absolute top-0 left-0 w-full h-full;

            &.video {
                @apply bg-pitch-black;
                
				iframe {
					@apply absolute center-xy min-h-full min-w-full h-auto w-auto aspect-video;
				}
			}
        }
	}
}
