@layer components {
	.content-logos {
		.marquee {
			@apply flex w-full;

			&-content {
				@apply flex shrink-0 gap-[6.25rem] px-[3.125rem] justify-around;
                animation: scroll 60s linear infinite;
			}

			&-item {
				@apply flex items-center justify-center w-fit h-[3.5rem] grayscale;
			}

			&.paused {
				.marquee {
					animation-play-state: paused;
				}
			}

			@keyframes scroll {
				0% {
					transform: translateX(0);
				}

				100% {
					transform: translateX(-50%);
				}
			}
		}
	}
}