<section class="rs-body">
	<div class="st-xl sb-xl">
		<div class="container">
            <div class="flex flex-col gap-[4rem] ~px-[0rem]/[13.375rem]">
                <div class="rs-content">
                    {{ function("the_content") }}
                </div>

                {% include 'components/resource-sharing.twig' %}
            </div>
        </div>
	</div>
</section>
