@layer components {
    .grid-press {
        .items-container {
            @apply flex flex-col;

            &:not(.active) {
                @apply hidden;
            }
        }

        .items {
            @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 border-y-[1px] border-light-grey overflow-hidden;
        }

        .item {
            @apply cursor-pointer ~p-[1rem]/[1.5rem] flex flex-col ~gap-[0.5rem]/[0.75rem] sm:border-r-[1px] border-b-[1px] border-light-grey sm:mr-[-1px] mb-[-1px];

            &, small, p, svg path {
                @apply transition-colors duration-300 ease-power2-out;
            }

            &:hover {
                @apply bg-rust-light;
                
                small {
                    @apply text-white-75;
                }
                
                p {
                    @apply text-white;
                }

                svg path {
                    @apply fill-white;
                }
            }
        }

        .pagination {
            @apply ~py-[1rem]/[1.5rem] border-b-[1px] border-light-grey flex justify-center items-center;

            .page,
            .dots {
                @apply h-[2rem] w-[2rem] rounded-[50%] flex items-center justify-center mx-[0.125rem];
            }

            .dots {
                @apply cursor-default;
            }

            .page {
                @apply border-[1px] border-white bg-white;
                @apply transition-colors duration-300 ease-power2-out;

                &.prev,
                &.next {
                    @apply h-[1.5rem] w-[1.5rem] mx-[0.375rem];

                    svg path {
                        @apply fill-black;
                        @apply transition-colors duration-300 ease-power2-out;
                    }

                    &.disabled {
                        svg path {
                            @apply fill-black-20;
                        }
                    }
                }

                &:not(.disabled) {
                    @apply cursor-pointer;
                }

                &.active,
                &:hover:not(.disabled) {
                    @apply border-rust-light bg-[rgba(208,55,34,0.10)];
                }
            }
        }
    }
}