@layer components {
	.content-stats {
        .inner {
            @apply flex max-md:flex-col md:min-h-[30rem];
        }
        
        .content {
            @apply md:flex-1 md:basis-[31.375rem] ~py-[2rem]/[3rem] ~pr-[1rem]/[1.5rem] ~pl-[1rem]/[3rem];
        }

		.items {
            @apply grid grid-cols-1 md:flex-1 md:basis-[58.625rem] max-md:border-t-[1px] max-md:border-t-light-grey max-md:dark:border-t-dark-grey relative;

            &.is-horizontal {
                &.two-cols {
                    @apply lg:grid-cols-2;

                    .item {
                        @apply border-b-[1px] mb-[-1px] lg:pt-[4.75rem];
                    }
                }

                &.three-cols {
                    @apply lg:grid-cols-3;

                    .item {
                        @apply lg:pt-[18.25rem] max-lg:border-b-[1px] max-lg:mb-[-1px];
                    }
                }
            }

            &.is-vertical {
                .item {
                    @apply border-b-[1px] mb-[-1px] ~pt-[2.5rem]/[3rem] ~pb-[1.25rem]/[2rem] lg:flex-row;

                    .h1 {
                        @apply lg:basis-[15rem] lg:flex-1;
                    }

                    p {
                        @apply lg:flex-1 lg:basis-[38.875rem] lg:self-end;
                    }
                }
            }
        }
        
        .item {
            @apply flex flex-col ~gap-[0.5rem]/[0.75rem] relative z-[2];
            @apply pt-[2.5rem] ~px-[1rem]/[2rem] ~pb-[1.25rem]/[3rem];
            @apply md:border-l-[1px] md:border-l-light-grey;
            @apply border-b-light-grey dark:border-b-dark-grey dark:border-l-dark-grey;
        }
	}
}
