@layer components {
	.content-four-across-logo-grid {
		.item {
			@apply flex p-[1.25rem] ~w-[11.625rem]/[22.5rem] justify-center items-center border-[1px] border-light-grey dark:border-dark-grey m-[-1px] bg-neutral-10 dark:bg-neutral-700 h-full ~min-h-[11.625rem]/[22.5rem];
		}

        .marquee {
			@apply flex w-full border-t-[1px] border-light-grey dark:border-dark-grey;

			&__content {
				@apply flex shrink-0;
				animation: scroll 120s linear infinite;
			}

			@keyframes scroll {
				0% {
					transform: translateX(0);
				}

				100% {
					transform: translateX(-100%);
				}
			}
		}

        /* &:has(.item:hover), */
        .marquee.paused {
            .marquee__content {
                animation-play-state: paused;
            }
        }
	}
}
