@layer components {
    .scroll-timeline {
        .arrow {
			@apply rounded-[50%] p-[1px] h-[2.25rem] w-[2.25rem] cursor-pointer flex items-center justify-center relative border-[1px] border-black-40;
            @apply transition-colors duration-300 ease-power2-out;

			&-inner {
				@apply absolute top-0 left-0 h-full w-full flex items-center justify-center z-[2];

				svg {
					@apply h-[0.625rem] w-[0.625rem];

					path {
						@apply fill-black-40 transition-colors duration-300 ease-power2-out;
					}
				}
			}

			&.prev {
				.arrow-inner {
					svg {
						@apply scale-x-[-100%];
					}
				}
			}

			&:hover {
                @apply border-rust-light;

				.arrow-inner {
					svg {
						path {
							@apply fill-rust-light;
						}
					}
				}
			}
		}

        .carousel-container {
            @apply ~pl-[1rem]/[3rem] max-sm:~pr-[1rem]/[3rem] border-y-[1px] border-light-grey;
        }

        .owl-carousel {
            @apply relative;

            &::before {
                content: '';
                @apply w-screen border-r-[1px] border-light-grey h-full left-0 top-0 absolute translate-x-[-100%] bg-white z-[2];
            }

            &::after {
                content: '';
                @apply w-screen border-l-[1px] border-light-grey h-full left-[calc(100%-1px)] top-0 absolute bg-white z-[2] sm:hidden;
            }

            .owl-stage-outer {
                @apply overflow-visible;
            }

            .item {
                @apply w-full sm:w-[27.875rem] border-r-[1px] border-light-grey ~p-[1rem]/[1.5rem] flex flex-col ~gap-[0.5rem]/[0.75rem];
            }
        }

        .owl-nav,
		.owl-dots {
			@apply hidden;
		}
    }
}