@layer components {
    .resource-stats {
        .stat-items {
			@apply flex max-md:flex-col flex-wrap border-r-[1px] border-t-[1px] border-light-grey;
		}

		.stat-item {
			@apply md:basis-[calc(100%/2)] lg:basis-[calc(100%/3)] flex-1 flex flex-col items-start ~gap-[0.5rem]/[0.75rem] ~pt-[2.5rem]/[4.25rem] ~px-[1.25rem]/[2rem] ~pb-[1.25rem]/[2rem] ~pr-[3rem]/[3rem];
			@apply border-l-[1px] border-b-[1px] border-light-grey;
		}
    }
}