@layer components {
	.content-flexible-table-with-toc {
		table {
			@apply border-light-grey border-[1px] rounded-[0.25rem] border-separate border-spacing-0 table-fixed;

			th {
				@apply bg-neutral-10 border-b-[1px] border-light-grey;
				@apply font-geist leading-[158%] ~text-[0.8125rem]/[0.875rem] uppercase font-normal;

                &:not(:first-of-type):not(:empty) {
                    @apply border-l-[1px] border-light-grey;
                }
			}

			th,
			td {
				@apply text-left ~p-[0.5rem]/[0.75rem];
			}

			tbody {
				tr {
					&:not(:last-of-type) {
						td {
							@apply border-b-[1px] border-light-grey;
						}
					}

					td {
                        @apply text-[0.875rem] leading-[158%] font-abc font-normal text-black-75;

						&:not(:first-of-type) {
                            @apply border-l-[1px] border-light-grey;
						}
					}
				}
			}
		}

        .item {
			@apply flex items-center relative pl-[1rem];

			&,
			& * {
				@apply cursor-pointer;
			}

			&::before {
				content: "";
				@apply absolute top-[0.5625rem] h-[0.375rem] w-[0.375rem] rounded-[50%] bg-rust-light left-0;
				@apply transition-opacity duration-500 ease-power2-out opacity-0;
			}

			&.active {
				&::before {
					@apply opacity-100;
				}
			}
		}
	}
}
