@layer components {
	.hero-fifty-fifty-image-video {
		.media-container {
			@apply relative ~h-[21.875rem]/[36.375rem] rounded-[0.25rem] overflow-hidden;

			&.video {
				@apply bg-pitch-black pointer-events-none;

				iframe,
				video {
					@apply absolute center-xy min-h-full min-w-full h-auto w-auto aspect-video;
				}

				&.youtube {
					iframe {
						@apply min-w-[600%] h-full;
					}
				}
			}
		}
	}
}
