@layer components {
  .content-cta {
    .marquee-text {
      @apply will-change-transform;
      p {
        @apply text-[262px] font-medium leading-[100%];
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
      }
    }
  }
}
