@layer components {
	.content-large-text-paragraph {
		.bar {
            @apply inline-block ml-[0.125rem];
			animation: blink 0.7s infinite;
		}

		@keyframes blink {
			0%,
			50% {
				opacity: 1;
			}

			51%,
			100% {
				opacity: 0;
			}
		}
	}
}
