@layer components {
    .content-fifty-fifty-image-text {
       .media-container {
            @apply relative ~min-h-[15.5rem]/[42.125rem] rounded-[0.25rem] overflow-hidden h-full;

            &.video {
                @apply bg-pitch-black pointer-events-none;
                
				iframe, video {
					@apply absolute center-xy min-h-full min-w-full h-auto w-auto aspect-video;
				}

                &.youtube {
					iframe {
						@apply min-w-[600%] h-full;
					}
				}
			}

            &.image {
                img {
                    @apply absolute top-0 left-0 h-full w-full;
                }
            }
        }
    }
}