@layer components {
	.hero-resources-landing {
		.item {
			@apply relative;
		}

		.rc {
			&.at-hero {
				&:not(.ghost-card) {
					@apply absolute top-0 left-0 w-full h-full;
				}

                &.ghost-card {
                    @apply pointer-events-none invisible;
                }
			}
		}
	}

    main > section.hero-resources-landing:first-child {
        @apply ~mt-[-3.625rem]/[-4.75rem];
    }
}
