@layer components {
    .content-text-bullet-image-toc {
        .item {
            @apply flex items-center relative pl-[1rem];

            &, & * {
                @apply cursor-pointer;
            }

            &::before {
                content: '';
                @apply absolute top-[0.5625rem] h-[0.375rem] w-[0.375rem] rounded-[50%] bg-teal left-0;
                @apply transition-opacity duration-500 ease-power2-out opacity-0;
            }

            &.active {
                &::before {
                    @apply opacity-100;
                }
            }
        }
    }
}