@layer base {
	.footer {
		@apply bg-dark-blue ~pt-[3.5rem]/[5rem] pb-[3rem] flex flex-col ~gap-[2.5rem]/[5rem] overflow-clip;

		&-inner {
			@apply flex ~gap-[2.5rem]/[6.875rem] max-lg:flex-col;
		}

		&-logo {
			@apply w-[15.125rem];
		}

		&-details {
			@apply lg:flex-1 lg:basis-[19.875rem] flex flex-col ~gap-[1.25rem]/[2rem];
		}

		&-columns {
			@apply lg:flex-1 lg:basis-[55.375rem] grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ~gap-[1rem]/[1.5rem];
		}

		&-column {
			/* @apply flex-1; */
		}

		&-form {
			@apply flex flex-col ~gap-[0.5rem]/[0.75rem];

			p {
				@apply text-white;
			}
		}

		&-form-inner {
			@apply flex gap-[0.5rem];

			input {
				@apply flex-1 !rounded-[2.5rem] px-[1.25rem] border-[0.0625rem] bg-transparent max-w-[16.875rem];
				border-color: rgba(255, 255, 255, 0.3);

				&,
				&::placeholder {
					@apply text-white font-a-mono font-normal leading-[120%] text-[0.75rem] tracking-[0.075rem] uppercase;
				}
			}

			button {
				@apply h-[2.5rem] w-[2.5rem];
			}
		}

		&-group {
			@apply flex flex-col ~gap-[1rem]/[1.5rem];
		}

		&-group-head {
			p {
				@apply text-green;
			}
		}

		&-items {
			@apply flex flex-col ~gap-[0.5rem]/[0.75rem];
		}

		&-item {
            @apply opacity-80;

			p {
				@apply text-white;
			}
		}

        &-foot {
            @apply flex flex-col gap-[1.5rem];
        }

        &-credits {
            @apply text-white opacity-80;
        }

        &-socials {
            @apply flex gap-[0.5rem] ml-auto;
        }

        &-foot-inner {
            @apply pt-[0.5rem] border-t flex justify-between gap-x-[1.25rem] gap-y-[0.5rem] flex-wrap;
            border-color: rgba(255, 255, 255, 0.20);
        }

        &-sub-items {
            @apply flex gap-x-[1.25rem] gap-y-[0.5rem] flex-wrap;
        }
	}
}
