@layer base {
	* {
		outline: none;
		box-sizing: border-box;
	}

	::selection {
		@apply text-white bg-blue;
	}

	.hide-scrollbar {
		*::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		* {
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
		}
	}

	html {
		@apply bg-light-grey font-inter font-normal m-0 p-0 max-w-[100svw] min-w-full w-full h-[100svh] min-h-[100svh] max-h-[100svh] text-black;
		@apply text-[1rem] min-[120rem]:text-[clamp(100%,0.72vw,300%)];
		@apply overflow-x-clip overflow-y-auto;

		&.disable-scrolling,
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

	body {
		@apply bg-none max-w-[inherit] min-w-[inherit] w-[inherit] m-0 p-0;
	}

	main {
		@apply bg-light-grey;
	}

	section {
		@apply overflow-clip relative;
	}

	.section-anchor {
		@apply absolute top-[-3.75rem] left-0 h-[1px] w-full;
	}

	.loading {
		.overlay {
			@apply pointer-events-none;
		}

		&.loaded {
			.overlay {
				@apply hidden;
			}
		}

		&:not(.loaded) {
			.overlay {
				@apply absolute top-0 left-0 h-full w-full mix-blend-multiply;
				animation-name: loading;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				background: linear-gradient(
					to right,
					#eee 8%,
					#ddd 18%,
					#eee 33%
				);
				background-color: #ccc;
				background-size: 62.5rem 62.5rem;
				transform: translateZ(0);
			}
		}
	}

	input {
		@apply !rounded-none;
	}
}

@layer components {
	.container {
		@apply ~px-[1rem]/[4rem] w-full relative;
		@apply max-w-[120rem] mx-auto;

		&.no-pd {
			@apply px-0;
		}
	}

	.alpha {
		@apply opacity-0 invisible;
	}

	.form {
		&.newsletter {
			@apply flex flex-col ~gap-[0.5rem]/[0.75rem];
			@apply ~px-[2rem]/[3rem] ~py-[1.25rem]/[2rem];
			@apply rounded-[0.5rem] bg-[#040D20] backdrop-blur-[0.9375rem];

			.form {
				&-inner {
					small {
						@apply text-white;
					}
				}
			}
		}

		&.contact {
			@apply ~p-[2rem]/[3rem] rounded-[0.5rem] border border-green bg-white;
			@apply flex flex-col items-center justify-center ~gap-[2rem]/[3rem];

			& > svg {
				@apply h-[1.625rem] w-auto;
			}

			.form {
				&-inner {
					@apply min-h-[27.9375rem];
				}
			}
		}

		&-inner {
			small {
				@apply italic opacity-60;
			}
		}
	}

	.rc {
		@apply relative;

		&,
		& * {
			@apply cursor-pointer;
		}

		&-link {
			@apply absolute top-0 left-0 w-full h-full z-[3];
		}

		&-card {
			@apply relative flex flex-col ~gap-[2rem]/[3rem] z-[2] h-full;
            @apply ~p-[1.25rem]/[2rem] border border-gray rounded-[0.5rem];
			@apply transition-colors duration-300 ease-power2-out;
		}

		&-head {
			@apply flex flex-col gap-[1.5rem];
		}

		&-tag {
			@apply flex gap-[0.5rem] items-center;
		}

		&-square {
			@apply h-[0.625rem] w-[0.625rem] aspect-square bg-green rounded-[0.125rem];
		}

		&-play {
			@apply ~h-[4rem]/[4.75rem] ~w-[4rem]/[4.75rem] absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[3];
			@apply transition-transform duration-300 ease-power2-out;
		}

		&-media {
			@apply w-full h-auto aspect-[303/204] md:aspect-[357/276] relative cursor-pointer mt-auto;

			&:hover {
				.rc-play {
					@apply scale-110;
				}
			}
		}

		&-thumbnail {
			@apply rounded-[0.5rem] overflow-hidden absolute top-0 left-0 h-full w-full z-[2];
		}

		&.default,
		&.is-listing {
			&::before {
				content: "";
				@apply absolute top-0 left-0 h-full w-full pointer-events-none scale-y-[-1] z-[1] rounded-[0.5rem] overflow-hidden;
				@apply opacity-0 duration-300 ease-power2-out transition-opacity;

				background: radial-gradient(
					95.74% 72.48% at 90.44% -25.87%,
					#00a1ff 0%,
					rgba(0, 161, 255, 0) 100%
				);
			}

			&:hover {
				&::before {
					@apply opacity-50;
				}

				.rc-card {
					@apply border-green;
				}
			}
		}

		&.at-hero {
			.rc {
				&-card {
					@apply border-green bg-blue bg-opacity-20 backdrop-blur-[1rem] h-auto;
				}

				&-head {
					h5 {
						@apply text-white;
					}
				}

				&-tag {
					small {
						@apply text-white;
					}
				}

				&-media {
					@apply transition-all duration-500 ease-power2-out mt-[unset];
				}
			}

			&:not(.ghost-card) {
				&:hover {
					.rc {
						&-media {
							@apply w-[22.375rem];
						}
					}
				}
			}
		}

		&.is-listing {
			@apply overflow-hidden;

            &::before {
				@apply w-[calc(100%-0.75rem)];
			}

            .rc {
                &-card {
                    @apply mx-[0.75rem];
                }

                &-thumbnail {
                    @apply bg-gray;

                    img {
                        @apply opacity-0 transition-opacity duration-300 ease-power2-out;
                    }

                    &.active {
                        img {
                            @apply opacity-100;
                        }
                    }
                }
            }

			&:not(.active) {
				@apply w-0 h-0 overflow-hidden m-0;

				.rc-card {
					@apply opacity-0 translate-y-[0.625rem] invisible;
				}
			}

			&.active {
				@apply max-sm:w-full sm:basis-[50%] lg:basis-[calc(100%/3)] h-auto ~mb-[1.25rem]/[2rem];

				.rc-card {
					@apply duration-500 ease-power2-out delay-200 will-change-transform;
					transition-property: opacity, transform;
				}
			}
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: "color 0s ease-out, background-color 0s ease-out";
	-webkit-transition-delay: 9999s;
}

video {
	@apply object-cover;
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}
