@layer base {
	* {
		outline: none;
		box-sizing: border-box;
	}

	::selection {
		@apply text-white bg-blue;
	}

	.hide-scrollbar {
		*::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		* {
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
		}
	}

	html {
		@apply font-inter font-normal m-0 p-0 max-w-[100svw] min-w-full w-full h-[100svh] min-h-[100svh] max-h-[100svh] text-black text-[1rem] min-[120rem]:text-[clamp(100%,0.72vw,300%)];
		@apply overflow-x-clip;
		@apply overflow-y-auto;

		&.disable-scrolling,
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

	body {
		@apply bg-none max-w-[inherit] min-w-[inherit] w-[inherit] m-0 p-0;
	}

	section {
		@apply overflow-clip relative;
	}

	.section-anchor {
		@apply absolute top-[-3.75rem] left-0 h-[1px] w-full;
	}

    .loading {
		.overlay {
			@apply pointer-events-none;
		}

		&.loaded {
			.overlay {
				@apply hidden;
			}
		}

		&:not(.loaded) {
			.overlay {
				@apply absolute top-0 left-0 h-full w-full mix-blend-multiply;
				animation-name: loading;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				background: linear-gradient(
					to right,
					#eee 8%,
					#ddd 18%,
					#eee 33%
				);
				background-color: #ccc;
				background-size: 62.5rem 62.5rem;
				transform: translateZ(0);
			}
		}
	}

	input {
		@apply !rounded-none;
	}
}

@layer components {
	.container {
		@apply ~px-[1rem]/[4rem] w-full relative;
        @apply max-w-[90rem] mx-auto;

		&.no-pd {
			@apply px-0;
		}
	}

	.alpha {
		@apply opacity-0 invisible;
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: "color 0s ease-out, background-color 0s ease-out";
	-webkit-transition-delay: 9999s;
}

video {
	@apply object-cover;
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}
