@layer base {
	* {
		outline: none;
		box-sizing: border-box;
	}

	::selection {
		@apply text-white bg-blue;
	}

	.hide-scrollbar {
		*::-webkit-scrollbar {
			display: none; /* Safari and Chrome */
		}

		* {
			-ms-overflow-style: none; /* Internet Explorer 10+ */
			scrollbar-width: none; /* Firefox */
		}
	}

	html {
		@apply bg-light-grey font-inter font-normal m-0 p-0 max-w-[100svw] min-w-full w-full h-[100svh] min-h-[100svh] max-h-[100svh] text-black;
		@apply text-[1rem] min-[120rem]:text-[clamp(100%,0.66vw,300%)];
		@apply overflow-x-clip overflow-y-auto;

		&.disable-scrolling,
		&:has(dialog[open]) {
			@apply overflow-hidden;
		}
	}

	body {
		@apply bg-none max-w-[inherit] min-w-[inherit] w-[inherit] m-0 p-0;
	}

	main {
		@apply bg-light-grey;
	}

	section {
		@apply overflow-clip relative;
	}

	.section-anchor {
		@apply absolute top-[-3.75rem] left-0 h-[1px] w-full;
	}

	.loading {
		.overlay {
			@apply pointer-events-none;
		}

		&.loaded {
			.overlay {
				@apply hidden;
			}
		}

		&:not(.loaded) {
			.overlay {
				@apply absolute top-0 left-0 h-full w-full mix-blend-multiply;
				animation-name: loading;
				animation-duration: 1.5s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				background: linear-gradient(
					to right,
					#eee 8%,
					#ddd 18%,
					#eee 33%
				);
				background-color: #ccc;
				background-size: 62.5rem 62.5rem;
				transform: translateZ(0);
			}
		}
	}

	input {
		@apply !rounded-none;
	}
}

@layer components {
	.container {
		@apply ~px-[1rem]/[4rem] w-full relative;
		@apply max-w-[120rem] mx-auto;

		&.no-pd {
			@apply px-0;
		}
	}

	.alpha {
		@apply opacity-0 invisible;
	}

	#form-container {
		@apply w-full h-full;

		.form {
			&.newsletter {
				@apply flex flex-col ~gap-[0.5rem]/[0.75rem];
				@apply ~px-[2rem]/[3rem] ~py-[1.25rem]/[2rem];
				@apply rounded-[0.5rem] bg-[#040D20] backdrop-blur-[0.9375rem];

				.form {
					&-inner {
						small {
							@apply text-white;
						}
					}
				}
			}

			&.contact {
				@apply ~p-[2rem]/[3rem] rounded-[0.5rem] border border-green bg-white;
				@apply flex flex-col items-center justify-center ~gap-[2rem]/[3rem];

				& > svg {
					@apply h-[1.625rem] w-auto;
				}

				.form {
					&-inner {
						@apply ~min-h-[0rem]/[27.9375rem];
					}
				}
			}

			&.susbcribe-cta {
				.form {
					&-inner {
						small {
							@apply text-white;
						}
					}
				}
			}

			&-inner {
				@apply w-full;

				small {
					@apply italic opacity-60;
				}

				.gform_heading {
					@apply hidden;
				}

				form {
					@apply flex flex-col ~gap-[1rem]/[1.5rem];
				}

				.gform-body {
					.gform_fields {
						@apply ~gap-[1rem]/[1.5rem];

						.gfield {
							@apply flex flex-col;

							.gfield_description {
								@apply hidden;
								/* @apply relative h-auto w-full m-[0_0_0.375rem_0] gap-0;
							clip: unset;
							clip-path: unset; */
							}

							.gfield_label {
								@apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase text-black;
							}

							.ginput_container {
								input[type="text"],
								input[type="email"],
								input[type="tel"],
								select,
								textarea {
									@apply bg-transparent border-gray border px-[1.25rem] outline-none shadow-none flex items-center;
									@apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase;

									&::placeholder {
										@apply text-black text-opacity-50;
									}
								}

								input[type="text"],
								input[type="email"],
								input[type="tel"],
								select {
									@apply h-[3.125rem] !rounded-[2.5rem] px-[1.25rem];
								}

								textarea {
									@apply !rounded-[0.5rem];
								}

								select {
									option {
										@apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase;
									}
								}
							}

							.gfield_consent_label {
								@apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase;
							}

							.ginput_container_select {
								@apply relative;

								select {
									@apply pr-[2.875rem];
									appearance: none;
									-webkit-appearance: none;
									-moz-appearance: none;
								}

								&::before {
									content: "";
									@apply h-[1.5rem] w-[1.5rem] absolute top-[50%] translate-y-[-50%] right-[0.75rem];
									background-repeat: no-repeat;
									background-size: contain;
									background-image: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M19 9.11772L12 16L5 9.11772L6.13683 8L12 13.7646L17.8632 8L19 9.11772Z' fill='black' fill-opacity='0.4'/></svg>");
								}
							}
						}
					}
				}

				.gform-footer {
					@apply !m-0 !p-0;

					input[type="submit"] {
						@apply cursor-pointer;
						@apply px-[1.5rem] py-[1rem] bg-blue !rounded-[0.25rem] !m-0;
						@apply font-a-mono text-[0.75rem] font-normal tracking-[0.075rem] leading-[130%] uppercase text-white;
						@apply transition-colors duration-300 ease-power2-out;
					}

					.gform-loader {
						margin-inline-start: 7em;
					}
				}

				.gform_confirmation_message {
					@apply font-at-aero ~text-[1.25rem]/[2rem] font-normal leading-[100%] text-center ~px-[0rem]/[6.25rem];
				}
			}
		}
	}

	.rc {
		@apply relative;

		&,
		& * {
			@apply cursor-pointer;
		}

		&-link {
			@apply absolute top-0 left-0 w-full h-full z-[3];
		}

		&-card {
			@apply relative flex flex-col ~gap-[2rem]/[3rem] z-[2] h-full;
			@apply ~p-[1.25rem]/[2rem] border border-gray rounded-[0.5rem];
			@apply transition-colors duration-300 ease-power2-out;
		}

		&-head {
			@apply flex flex-col gap-[1.5rem];
		}

		&-tag {
			@apply flex gap-[0.5rem] items-center;
		}

		&-square {
			@apply h-[0.625rem] w-[0.625rem] aspect-square bg-green rounded-[0.125rem];
		}

		&-play {
			@apply ~h-[4rem]/[4.75rem] ~w-[4rem]/[4.75rem] absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] z-[3];
			@apply transition-transform duration-300 ease-power2-out;
		}

		&-media {
			@apply w-full h-auto aspect-[303/204] md:aspect-[357/276] relative cursor-pointer mt-auto;

			&:hover {
				.rc-play {
					@apply scale-110;
				}
			}
		}

		&-thumbnail {
			@apply rounded-[0.5rem] overflow-hidden absolute top-0 left-0 h-full w-full z-[2];
		}

		&.default,
		&.is-listing {
			&::before {
				content: "";
				@apply absolute top-0 left-0 h-full w-full pointer-events-none scale-y-[-1] z-[1] rounded-[0.5rem] overflow-hidden;
				@apply opacity-0 duration-300 ease-power2-out transition-opacity;

				background: radial-gradient(
					95.74% 72.48% at 90.44% -25.87%,
					#00a1ff 0%,
					rgba(0, 161, 255, 0) 100%
				);
			}

			&:hover {
				&::before {
					@apply opacity-50;
				}

				.rc-card {
					@apply border-green;
				}
			}
		}

		&.at-hero {
			.rc {
				&-card {
					@apply border-green bg-blue bg-opacity-20 backdrop-blur-[1rem] h-auto;
				}

				&-head {
					h5 {
						@apply text-white;
					}
				}

				&-tag {
					small {
						@apply text-white;
					}
				}

				&-media {
					@apply transition-all duration-500 ease-power2-out mt-[unset];
				}
			}
		}

		&.is-listing {
			@apply overflow-hidden;

			&::before {
				@apply w-[calc(100%-0.75rem)];
			}

			.rc {
				&-card {
					@apply mx-[0.75rem];
				}

				&-thumbnail {
					@apply bg-gray;

					img {
						@apply opacity-0 transition-opacity duration-300 ease-power2-out;
					}

					&.active {
						img {
							@apply opacity-100;
						}
					}
				}
			}

			&:not(.active) {
				@apply w-0 h-0 overflow-hidden m-0;

				.rc-card {
					@apply opacity-0 translate-y-[0.625rem] invisible;
				}
			}

			&.active {
				@apply max-sm:w-full sm:basis-[50%] lg:basis-[calc(100%/3)] h-auto ~mb-[1.25rem]/[2rem];

				.rc-card {
					@apply duration-500 ease-power2-out delay-200 will-change-transform;
					transition-property: opacity, transform;
				}
			}
		}
	}

	.rs {
		&-share {
			@apply h-[2.25rem] w-[2.25rem] cursor-pointer relative;

			svg {
				@apply h-full w-full;
			}
		}

		&-share-bubble {
			@apply hidden absolute top-0 translate-y-[-120%] translate-x-[-50%] left-[50%] px-[0.75rem] py-[0.375rem] rounded-[0.25rem] bg-blue whitespace-nowrap;
		}

		&-back {
			@apply flex items-center gap-[0.5rem];

			p {
				@apply text-blue;
			}

			svg {
				@apply transition-transform duration-300 ease-power2-out;

				path {
					@apply stroke-blue;
				}
			}

			&:hover {
				svg {
					@apply translate-x-[-0.25rem];
				}
			}
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-transition: "color 0s ease-out, background-color 0s ease-out";
	-webkit-transition-delay: 9999s;
}

video {
	@apply object-cover;
}

@keyframes loading {
	0% {
		background-position: 100% 0;
	}

	100% {
		background-position: -100% 0;
	}
}
