@layer base {
	header {
		@apply sticky top-0 z-[100];
	}

	.nav {
		@apply w-full border-b border-transparent;
		@apply transition-all duration-500 ease-power2-out;

		&-outer {
		}

		&-burger {
			@apply xl:hidden flex items-center justify-center self-stretch;

			svg {
				@apply w-[1.5rem] h-[1.5rem];

				path {
					@apply transition-all ease-[ease] duration-300;
				}
			}
		}

		&-inner {
			@apply flex gap-[0.75rem] items-stretch justify-between;
			@apply ~h-[3.5rem]/[4.625rem];
		}

		&-logo {
			@apply flex items-center h-full shrink-0;

			svg {
				@apply ~h-[1.375rem]/[1.625rem] w-auto;
			}
		}

		&-items {
			@apply flex gap-[0.75rem] ml-auto;

			@media not all and (min-width: 75rem) {
				@apply flex flex-col gap-[1.5rem] w-full;
			}
		}

		&-item {
			@screen xl {
				@apply flex h-full items-center;

				&.parent {
					@apply relative cursor-default;

					&.open {
						.nav {
							&-dd {
								@apply xl:visible xl:pointer-events-auto xl:opacity-100 xl:translate-y-0;
								@apply xl:transition-transform xl:duration-[0.6s] xl:ease-power2-out;
							}
						}
					}
				}

				&:hover {
					.nav {
						&-item-inner {
							@apply border-green;
						}
					}
				}
			}

			@media not all and (min-width: 75rem) {
				&.parent {
					&.open {
						.nav {
							&-item-inner {
								svg {
									@apply rotate-180;
								}
							}

							&-dd {
								@apply h-auto pointer-events-auto;
							}

							&-dd-inner {
								@apply opacity-100 translate-y-0;
								@apply transition-all duration-[0.4s] ease-power2-out;
							}
						}
					}
				}
			}
		}

		&-item-inner {
			@apply flex gap-[0.75rem] items-center justify-between;

			@screen xl {
				@apply py-[0.5625rem] px-[1rem] rounded-[2.5rem] border border-gray;
				@apply transition-colors duration-300 ease-power2-out;

				svg {
					@apply xl:hidden;
				}
			}

			@media not all and (min-width: 75rem) {
				p {
					@apply font-inter text-[1.125rem] font-normal leading-[140%] normal-case;
				}
			}

			svg {
				@apply transition-transform duration-300 ease-power2-out;
			}
		}

		&-actions {
			@apply flex items-center;

			.btn.navi {
				@apply max-sm:w-full max-sm:py-[1rem];
			}
		}

		&-dd {
			@screen xl {
				@apply absolute w-fit left-[50%] translate-x-[-50%] top-[calc(50%+1.625rem)];
				@apply pointer-events-none invisible overflow-hidden translate-y-[1rem] opacity-0 will-change-transform;
			}

			@media not all and (min-width: 75rem) {
				@apply h-0 overflow-hidden w-full pointer-events-none;
			}
		}

		&-dd-inner {
			@screen xl {
				@apply backdrop-blur-[1.125rem] rounded-[0.75rem] border border-green p-[1.5rem];
				background: rgba(255, 255, 255, 0.8);
			}

			@media not all and (min-width: 75rem) {
				@apply opacity-0 translate-y-[1.25rem] pt-[0.75rem];
			}
		}

		&-dd-groups {
			@apply flex max-xl:flex-col ~gap-[1.5rem]/[3rem];
		}

		&-dd-group {
			@apply flex flex-col ~gap-[0.75rem]/[1.5rem];
		}

		&-dd-group-links {
			@apply flex flex-col gap-[0.75rem];
		}

		&-dd-group-link {
			@apply min-w-max relative;

			p {
				@apply hover:underline underline-offset-2;
			}

			/* &::after {
				content: "";
				@apply absolute left-0 bottom-0 w-full h-[1px] bg-black scale-x-0 origin-right transition-transform ease-in duration-[400ms];
				transition-property: background, transform;
			}

			&:hover::after {
				@apply scale-x-100 origin-left ease-out;
			} */
		}

		&-panel,
		&-panel-inner {
			@apply xl:contents;
		}

		&-panel {
			@media not all and (min-width: 75rem) {
				@apply pointer-events-none invisible absolute top-[100%] w-full h-auto left-0;
			}
		}

		&-panel-inner {
			@media not all and (min-width: 75rem) {
				@apply flex flex-col gap-[3rem] opacity-0 translate-y-[1.5rem];
				@apply backdrop-blur-[1.125rem] rounded-[0.75rem] border border-green p-[1.5rem];
				background: rgba(255, 255, 255, 0.8);

				@apply max-h-[calc(100svh-4.625rem)] overflow-x-clip overflow-y-auto;
			}
		}

		&.is-light:not(.nav-scrolled) {
			.nav {
				&-logo {
					svg {
						path {
							@apply fill-white;
						}
					}
				}

                &-burger {
					svg {
						path {
							@apply stroke-white;
						}
					}
				}

				&-item-inner {
					@screen xl {
						&:not(:hover) {
							@apply border-white border-opacity-40;
						}

						p {
							@apply text-white;
						}
					}
				}

				&-actions {
					@screen xl {
						.btn.navi {
							@apply bg-green;

							p {
								@apply text-black;
							}
						}
					}
				}
			}
		}

		&.nav-hidden {
			@apply pointer-events-none;
			@apply translate-y-[-100%] pointer-events-none;
		}

		&.nav-scrolled {
			@apply bg-light-grey;
			@apply border-b-gray;
		}

		&.mob-active {
			@apply border-b-transparent;

			.nav {
				&-burger {
					path {
						&:nth-child(1) {
							transform: rotate(45deg) translate(5px, -12px);
						}

						&:nth-child(2) {
							@apply hidden;
						}

						&:nth-child(3) {
							transform: rotate(-45deg) translate(-12px, 10px);
						}
					}
				}

				&-inner {
					@apply relative;
				}

				&-panel {
					@apply pointer-events-auto visible;
				}

				&-panel-inner {
					@apply opacity-100 translate-y-0;
					@apply transition-all duration-[0.4s] ease-power2-out;
				}
			}
		}
	}
}

body {
    &.home:has(.hero-homepage) {
        .nav {
            &.at-homepage {
                .nav-outer {
                    @apply opacity-0 translate-y-[-140%];
                }
            }
        }

        section.content-logos {
            &.invi {
                @apply opacity-0 invisible;
            }
        }
    }
}
