@layer base {
	.nav {
		@apply fixed w-full z-[100];

		&__space {
			@apply h-[5rem];
		}

		&__outer {
			@apply h-[5rem];

			& > .container {
				@apply h-full;
			}
		}

		&__burger {
			@apply hidden;
		}

		&__inner {
			@apply flex gap-[0.75rem] items-stretch h-full;
		}

		&__logo {
			@apply flex items-center ~py-[1rem]/[1.375rem] shrink-0;

			svg {
				@apply h-[1.625rem] w-auto;
			}
		}

        &__panel {
			@apply contents;
		}

        &__items {
			@apply flex gap-[0.75rem] ml-auto;
		}

		&__item {
			@apply flex h-full items-center;

			&.parent {

			}
		}
        
        &__item-inner {
			@apply flex py-[0.5625rem] px-[1rem] rounded-[2.5rem] border border-[#D9D9D9];
		}

        &__actions {
			@apply flex items-center;
		}
		
        /*
		&__dd {
			@screen xl {
				@apply absolute w-fit left-[50%] translate-x-[-50%] top-[calc(100%+0.25rem)] pointer-events-none invisible overflow-hidden translate-y-[1.5rem] opacity-0;
			}

			@media not all and (min-width: 75rem) {
				@apply h-0 overflow-hidden w-full;
			}
		}

		&__dd-inner {
			@screen xl {
				@apply flex bg-black rounded-[0.25rem] border-[1px] border-dark-grey w-fit mx-auto;
			}

			@media not all and (min-width: 75rem) {
				@apply pt-[0.5rem] ~px-[1rem]/[3rem] pb-[2rem] flex flex-col-reverse gap-[1.25rem] opacity-0 translate-y-[-1.25rem] invisible transition-transform duration-[0.4s] ease-power2-out will-change-transform;
			}
		}

		&__dd-group-content {
			@apply flex xl:basis-[26.5rem] flex-col;

			&.is-special {
				@apply ~xl/2xl:~w-[40rem]/[47.25rem] xl:basis-[unset];

				.nav__dd-groups {
					@apply xl:grid xl:grid-cols-2;
				}

				.nav__dd-group {
					&:nth-child(2) {
						@apply xl:order-3;
					}

					&:nth-child(3) {
						@apply xl:row-span-2 xl:order-2;
					}
				}
			}
		}

		&__dd-groups {
			@apply flex max-xl:flex-col ~gap-[1.25rem]/[1.5rem] ~pb-[1.25rem]/[1.5rem] xl:pt-[1.5rem] xl:px-[2rem] max-sm:flex max-xl:grid max-xl:grid-cols-2;
		}

		&__dd-group {
			@apply flex xl:w-[22.5rem] flex-col ~gap-[0.5rem]/[0.75rem] xl:shrink-0;

			small {
				@apply text-white-75;
			}
		}

		&__dd-group-link {
			p {
				@apply text-white;
			}
		}

		&__dd-blink {
			@apply border-t-[1px] border-dark-grey xl:px-[2rem] ~pt-[1.25rem]/[1.5rem] xl:pb-[1.5rem] cursor-pointer mt-auto;

			p {
				@apply text-white;
			}
		}

		&__dd-feature {
			@screen xl {
				@apply p-[1.5rem] border-l-[1px] border-l-dark-grey w-[21.375rem] shrink-0;
			}
		}

		&__dd-images {
			@apply w-full ~h-[11.25rem]/[22.625rem] relative;
		}

		&__dd-image {
			@apply w-full absolute left-0 top-0 opacity-0 rounded-[0.25rem] overflow-hidden h-full transition-opacity duration-[0.4s] ease-power2-out invisible max-sm:max-w-full max-xl:max-w-[46%];

			img {
				@apply transition-transform duration-[0.4s] ease-power2-out scale-[1.02];
			}

			&.active {
				@apply opacity-100 visible;

				img {
					@apply scale-100;
				}
			}
		}

		&__dd-cards {
			@apply max-xl:hidden ~xl/2xl:~w-[30rem]/[36.75rem] shrink-0 flex flex-col border-l-[1px] border-dark-grey;
		}

		&__dd-card {
			@apply flex gap-[1.5rem] p-[1.5rem];

			img {
				@apply h-[6.125rem] w-[12.5rem] shrink-0 rounded-[0.25rem] overflow-hidden;
			}

			&:not(:last-child) {
				@apply border-b-[1px] border-b-dark-grey;
			}
		}

		&__dd-card-inner {
			@apply flex-1 flex flex-col gap-[0.25rem];

			small {
				@apply text-rust;
			}

			p {
				@apply text-white;
			}
		}

		&__actions {
			@apply flex ~gap-[0.5rem]/[0.75rem] items-center;

			@media not all and (min-width: 75rem) {
				@apply mt-auto flex-col ~px-[1rem]/[3rem] pb-[1.25rem];

				a {
					@apply w-full;
				}
			}
		}

        &__items,
        &__actions {
			@media not all and (min-width: 75rem) {
				@apply opacity-0 translate-y-[-2.5rem];
                @apply transition-all duration-[0.6s] ease-power2-out;
			}
		}

		&:has(.nav__item.parent.open) {
			.nav {
				&__item-inner {
					p {
						@apply xl:text-white-40;
					}
				}
			}
		}

		&:has(.nav__item.parent.open),
		&.mob-active {
			.nav {
				&__overlay {
					@apply opacity-100 visible;
				}
			}
		}

		&.mob-active {
			.nav {
                &__anmt {
                    @apply hidden;
                }
                
				&__burger {
					path {
						&:first-of-type {
							transform: translateX(11px) translateY(-8.5px)
								rotate(45deg);
						}

						&:last-of-type {
							transform: translateX(1px) translateY(14.5px)
								rotate(-45deg);
						}
					}
				}

				&__panel {
					@apply pointer-events-auto visible;
                    clip-path: inset(0% 0% 0% 0%);
				}

				&__item {
					&.open {
						@apply bg-neutral-700;

						.nav {
							&__item-inner {
								svg {
									@apply rotate-180;
								}
							}

							&__dd {
								@apply h-auto;
							}

							&__dd-inner {
								@apply opacity-100 translate-y-0 visible;
							}
						}
					}
				}

                &__items,
                &__actions {
                    @apply opacity-100 translate-y-0 delay-[120ms];
                }
			}
		}

		&.nav-hidden {
			@apply pointer-events-none;

			.nav {
				&__main {
					@apply translate-y-[-100%] pointer-events-none;
				}
			}
		}

        .orby {
            @apply relative transition-all duration-300 ease-power2-out block;

            &::before {
                content: "";
                @apply h-[0.375rem] w-[0.375rem] rounded-[0.5rem] absolute center-y left-0 bg-teal opacity-0;
                @apply duration-300 ease-power2-out transition-opacity;
            }

            &:hover {
                @apply pl-[1rem];

                &::before {
                    @apply opacity-100;
                }
            }
        } */
	}
}
