@layer base {
	header {
		@apply sticky top-0 z-[100];
	}

	.nav {
		@apply w-full;
		@apply transition-all duration-500 ease-power2-out;

		&-burger {
			@apply xl:hidden flex items-center justify-center self-stretch;

			svg {
				@apply w-[1.5rem] h-[1.5rem];

				path {
					@apply transition-all ease-[ease] duration-300;
				}
			}
		}

		&-inner {
			@apply flex gap-[0.75rem] items-stretch h-full justify-between;
		}

		&-logo {
			@apply flex items-center ~py-[1rem]/[1.375rem] shrink-0;

			svg {
				@apply ~h-[1.375rem]/[1.625rem] w-auto;
			}
		}

		&-items {
			@apply flex gap-[0.75rem] ml-auto;

			@media not all and (min-width: 75rem) {
				@apply flex flex-col gap-[1.5rem] w-full;
			}
		}

		&-item {
			@screen xl {
				@apply flex h-full items-center;

				&.parent {
					@apply relative cursor-default;

					&.open {
						.nav {
							&-dd {
								@apply xl:visible xl:pointer-events-auto xl:opacity-100 xl:translate-y-0;
								@apply xl:transition-transform xl:duration-[0.6s] xl:ease-power2-out;
							}
						}
					}
				}

				&:hover {
					.nav {
						&-item-inner {
							@apply border-green;
						}
					}
				}
			}

			@media not all and (min-width: 75rem) {
				&.parent {
					&.open {
						.nav {
							&-item-inner {
								svg {
									@apply rotate-180;
								}
							}

							&-dd {
								@apply h-auto pointer-events-auto;
							}

							&-dd-inner {
								@apply opacity-100 translate-y-0;
								@apply transition-all duration-[0.4s] ease-power2-out;
							}
						}
					}
				}
			}
		}

		&-item-inner {
			@apply flex gap-[0.75rem] items-center justify-between;

			@screen xl {
				@apply py-[0.5625rem] px-[1rem] rounded-[2.5rem] border border-gray;
				@apply transition-colors duration-300 ease-power2-out;

				svg {
					@apply xl:hidden;
				}
			}

			@media not all and (min-width: 75rem) {
				p {
					@apply font-inter text-[1.125rem] font-normal leading-[140%] normal-case;
				}
			}

			svg {
				@apply transition-transform duration-300 ease-power2-out;
			}
		}

		&-actions {
			@apply flex items-center;

			.btn.navi {
				@apply max-sm:w-full max-sm:py-[1rem];
			}
		}

		&-dd {
			@screen xl {
				@apply absolute w-fit left-[50%] translate-x-[-50%] top-[calc(50%+1.625rem)];
				@apply pointer-events-none invisible overflow-hidden translate-y-[1rem] opacity-0 will-change-transform;
			}

			@media not all and (min-width: 75rem) {
				@apply h-0 overflow-hidden w-full pointer-events-none;
			}
		}

		&-dd-inner {
			@screen xl {
				@apply backdrop-blur-[1.125rem] rounded-[0.75rem] border border-green p-[1.5rem];
				background: rgba(255, 255, 255, 0.8);
			}

			@media not all and (min-width: 75rem) {
				@apply opacity-0 translate-y-[1.25rem] pt-[0.75rem];
			}
		}

		&-dd-groups {
			@apply flex max-xl:flex-col ~gap-[1.5rem]/[3rem];
		}

		&-dd-group {
			@apply flex flex-col ~gap-[0.75rem]/[1.5rem];
		}

		&-dd-group-links {
			@apply flex flex-col gap-[0.75rem];
		}

		&-dd-group-link {
			@apply min-w-max relative w-fit;

			&::after {
				content: "";
				@apply absolute left-0 bottom-0 w-full h-[1px] bg-black scale-x-0 origin-right transition-transform ease-in duration-[400ms];
				transition-property: background, transform;
			}

			&:hover::after {
				@apply scale-x-100 origin-left ease-out;
			}
		}

		&-panel,
		&-panel-inner {
			@apply xl:contents;
		}

		&-panel {
			@media not all and (min-width: 75rem) {
				@apply pointer-events-none invisible absolute top-[100%] w-full h-auto left-0;
			}
		}

		&-panel-inner {
			@media not all and (min-width: 75rem) {
				@apply flex flex-col gap-[3rem] opacity-0 translate-y-[1.5rem];
				@apply backdrop-blur-[1.125rem] rounded-[0.75rem] border border-green p-[1.5rem];
				background: rgba(255, 255, 255, 0.8);

				@apply max-h-[calc(100svh-4.625rem)] overflow-x-clip overflow-y-auto;
			}
		}

		&.at-homepage {
			.nav {
				&-outer {
					@apply opacity-0 translate-y-[-140%];
				}
			}
		}

		&.nav-hidden {
			@apply pointer-events-none;
			@apply translate-y-[-100%] pointer-events-none;
		}

		&.nav-scrolled {
			@apply bg-light-grey;
			/* @apply border-b-gray; */
		}

		&.mob-active {
			.nav {
				&-burger {
					path {
						&:nth-child(1) {
							transform: rotate(45deg) translate(5px, -12px);
						}

						&:nth-child(2) {
							@apply hidden;
						}

						&:nth-child(3) {
							transform: rotate(-45deg) translate(-12px, 10px);
						}
					}
				}

				&-inner {
					@apply relative;
				}

				&-panel {
					@apply pointer-events-auto visible;
				}

				&-panel-inner {
					@apply opacity-100 translate-y-0;
					@apply transition-all duration-[0.4s] ease-power2-out;
				}

				/* &-item {
					&.open {
						@apply bg-neutral-700;

						.nav {
							&-item-inner {
								svg {
									@apply rotate-180;
								}
							}

							&-dd {
								@apply h-auto;
							}

							&-dd-inner {
								@apply opacity-100 translate-y-0 visible;
							}
						}
					}
				} */
			}
		}

		/*
		&-dd {
			@screen xl {
				@apply absolute w-fit left-[50%] translate-x-[-50%] top-[calc(100%+0.25rem)] pointer-events-none invisible overflow-hidden translate-y-[1.5rem] opacity-0;
			}

			@media not all and (min-width: 75rem) {
				@apply h-0 overflow-hidden w-full;
			}
		}

		&-dd-inner {
			@screen xl {
				@apply flex bg-black rounded-[0.25rem] border-[1px] border-dark-grey w-fit mx-auto;
			}

			@media not all and (min-width: 75rem) {
				@apply pt-[0.5rem] ~px-[1rem]/[3rem] pb-[2rem] flex flex-col-reverse gap-[1.25rem] opacity-0 translate-y-[-1.25rem] invisible transition-transform duration-[0.4s] ease-power2-out will-change-transform;
			}
		}

		

		

		&-dd-group-link {
			p {
				@apply text-white;
			}
		}

		&-dd-blink {
			@apply border-t-[1px] border-dark-grey xl:px-[2rem] ~pt-[1.25rem]/[1.5rem] xl:pb-[1.5rem] cursor-pointer mt-auto;

			p {
				@apply text-white;
			}
		}

		&-dd-feature {
			@screen xl {
				@apply p-[1.5rem] border-l-[1px] border-l-dark-grey w-[21.375rem] shrink-0;
			}
		}

		&-dd-images {
			@apply w-full ~h-[11.25rem]/[22.625rem] relative;
		}

		&-dd-image {
			@apply w-full absolute left-0 top-0 opacity-0 rounded-[0.25rem] overflow-hidden h-full transition-opacity duration-[0.4s] ease-power2-out invisible max-sm:max-w-full max-xl:max-w-[46%];

			img {
				@apply transition-transform duration-[0.4s] ease-power2-out scale-[1.02];
			}

			&.active {
				@apply opacity-100 visible;

				img {
					@apply scale-100;
				}
			}
		}

		&-dd-cards {
			@apply max-xl:hidden ~xl/2xl:~w-[30rem]/[36.75rem] shrink-0 flex flex-col border-l-[1px] border-dark-grey;
		}

		&-dd-card {
			@apply flex gap-[1.5rem] p-[1.5rem];

			img {
				@apply h-[6.125rem] w-[12.5rem] shrink-0 rounded-[0.25rem] overflow-hidden;
			}

			&:not(:last-child) {
				@apply border-b-[1px] border-b-dark-grey;
			}
		}

		&-dd-card-inner {
			@apply flex-1 flex flex-col gap-[0.25rem];

			small {
				@apply text-rust;
			}

			p {
				@apply text-white;
			}
		}

		&-actions {
			@apply flex ~gap-[0.5rem]/[0.75rem] items-center;

			@media not all and (min-width: 75rem) {
				@apply mt-auto flex-col ~px-[1rem]/[3rem] pb-[1.25rem];

				a {
					@apply w-full;
				}
			}
		}

        &-items,
        &-actions {
			@media not all and (min-width: 75rem) {
				@apply opacity-0 translate-y-[-2.5rem];
                @apply transition-all duration-[0.6s] ease-power2-out;
			}
		}

		&:has(.nav__item.parent.open) {
			.nav {
				&-item-inner {
					p {
						@apply xl:text-white-40;
					}
				}
			}
		}

		&:has(.nav__item.parent.open),
		&.mob-active {
			.nav {
				&-overlay {
					@apply opacity-100 visible;
				}
			}
		}

		&.mob-active {
			.nav {
                &-anmt {
                    @apply hidden;
                }
                
				&-burger {
					path {
						&:first-of-type {
							transform: translateX(11px) translateY(-8.5px)
								rotate(45deg);
						}

						&:last-of-type {
							transform: translateX(1px) translateY(14.5px)
								rotate(-45deg);
						}
					}
				}

				&-panel {
					@apply pointer-events-auto visible;
                    clip-path: inset(0% 0% 0% 0%);
				}

				&-item {
					&.open {
						@apply bg-neutral-700;

						.nav {
							&-item-inner {
								svg {
									@apply rotate-180;
								}
							}

							&-dd {
								@apply h-auto;
							}

							&-dd-inner {
								@apply opacity-100 translate-y-0 visible;
							}
						}
					}
				}

                &-items,
                &-actions {
                    @apply opacity-100 translate-y-0 delay-[120ms];
                }
			}
		}

		&.nav-hidden {
			@apply pointer-events-none;

			.nav {
				&-main {
					@apply translate-y-[-100%] pointer-events-none;
				}
			}
		}

        .orby {
            @apply relative transition-all duration-300 ease-power2-out block;

            &::before {
                content: "";
                @apply h-[0.375rem] w-[0.375rem] rounded-[0.5rem] absolute center-y left-0 bg-teal opacity-0;
                @apply duration-300 ease-power2-out transition-opacity;
            }

            &:hover {
                @apply pl-[1rem];

                &::before {
                    @apply opacity-100;
                }
            }
        } */
	}
}

main {
	@apply min-h-[62.5rem];
}

header.dark {
	position: fixed;
	z-index: 100;
	width: 100%;
	transition: background-color 0.3s ease;

	.nav-logo {
		svg path {
			@apply fill-[#ffffff];
		}
	}

	.nav-panel {
		.nav-item {
			@apply text-white;
		}

		.nav-actions {
			.btn.navi {
				@apply bg-[#08E8BD];

				p {
					@apply text-black;
				}
			}
		}
	}
}
