#slx {
    @apply relative hidden;

    & > svg {
        @apply absolute top-[50%] translate-y-[-50%] right-[1.25rem];
    }

    .select2 {
        &-container {
        }

        &-selection {
            @apply !rounded-[8.375rem] !bg-light-grey border-gray !border-[1px] min-h-[3.125rem] pl-0 py-0 pr-[3.25rem] flex items-center;
        }

        &-selection__rendered {
            @apply flex gap-[0.25rem] flex-wrap py-[1rem] pl-[1.25rem];
            @apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase;
        }

        &-selection__choice {
            @apply m-0;
        }

        &-selection__arrow {
            @apply !hidden;
        }

        &-dropdown {
            @apply !rounded-[0.25rem] overflow-hidden !mt-[0.5rem];
            border: 1px solid #d9d9d9 !important;
        }

        &-results {
        }

        &-results__option {
            @apply px-[1rem] py-[1.125rem];
            @apply font-a-mono text-[0.75rem] font-medium tracking-[0.075rem] leading-[130%] uppercase !text-black;

            &--highlighted {
                background: rgba(32, 110, 236, 0.1) !important;
            }

            &--selected {
                background: #206eec !important;
                @apply !text-white;
            }
        }
    }

    &:has(.select2) {
        @apply block;
    }
}
