@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../theme/normalize.css";
@import "../admin/bar.css";
@import "../external/lenis.css";

@import "typography";
@import "header";
@import "footer";
@import "global";
@import "image";
@import "buttons";
@import "dialog";
@import "spacings";
@import "select";
@import-glob "../../../blocks/**/*.css";
