@layer components {
	.content-large-paragraph {
		h3 {
			.word {
				background: linear-gradient(
					to right,
					#121212 50%,
					#12121233 50%
				);
				background-size: 200% 100%;
				background-position-x: 100%;
				color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
			}
		}

		&.dark {
			h3 {
				.word {
					background: linear-gradient(to right, #fff 50%, #fff3 50%);
					background-size: 200% 100%;
					background-position-x: 100%;
					color: transparent;
					background-clip: text;
					-webkit-background-clip: text;
				}
			}
		}
	}
}
