@layer components {
	.hero-full-width-image-video {
        .media-container {
            @apply absolute top-0 left-0 w-full h-full z-[1];

            &.video {
                @apply bg-pitch-black pointer-events-none;
                
				iframe, video {
					@apply absolute center-xy min-h-full min-w-full h-auto w-auto aspect-video;
				}
			}
        }
	}
}
