@layer components {
	.flexible-content {
		.accs {
			@apply flex flex-col h-full w-full border-l-[1px] border-t-[1px] border-dark-grey rounded-l-[0.25rem] overflow-hidden;

			&-container {
				@apply max-md:flex max-md:flex-col md:grid md:grid-cols-2 bg-neutral-700 md:min-h-[27.875rem];
			}
		}

		.acc {
			@apply border-b-[1px] border-dark-grey ~py-[0.5rem]/[0.75rem] ~px-[1rem]/[1.5rem];

			&.active {
				@apply ~py-[1rem]/[1.5rem] flex-1;

				.acc {
					&-head {
						p {
							@apply text-white;
						}

						svg {
							@apply max-md:rotate-[270deg];

							path {
								@apply fill-teal;
							}
						}
					}

					&-body {
						@apply h-auto;
					}

					&-body-inner {
						@apply visible opacity-100 translate-y-0;
						@apply transition-all duration-500 ease-power2-out;
					}
				}
			}

			&-head {
				@apply flex gap-[1rem] cursor-pointer;

				p {
					@apply text-white-40 flex-1;
					@apply transition-colors duration-300 ease-power2-out;
				}

				svg {
					@apply shrink-0 h-[0.625rem] w-[0.625rem] relative top-[0.5625rem];
					@apply max-md:transition-transform duration-300 ease-power2-out max-md:rotate-90;

					path {
						@apply fill-white-40;
						@apply transition-colors duration-300 ease-power2-out;
					}
				}
			}

			&-body {
				@apply h-0 overflow-hidden;
			}

			&-body-inner {
				@apply pt-[0.25rem] opacity-0 invisible translate-y-[-1.25rem] ~pb-[0rem]/[2.75rem] will-change-transform flex flex-col gap-[1rem];

				img {
					@apply md:hidden rounded-[0.25rem] overflow-hidden h-[18.125rem];
				}
			}

			&-images {
				@apply h-full w-full relative rounded-r-[0.25rem] overflow-hidden max-md:hidden;
			}

			&-image {
				@apply absolute top-0 left-0 h-full w-full opacity-0 invisible will-change-transform;

				&.active {
					@apply opacity-100 visible;
					@apply transition-all duration-500 ease-power2-out;
				}
			}
		}

		.content-group {
			@apply flex relative flex-col ~gap-[1rem]/[1.5rem] st-xl sb-xl ~px-[1rem]/[3rem] self-stretch;
		}

		.block-heading {
			@apply text-white;
		}

		.item {
			@apply flex items-center relative pl-[1rem];

			&,
			& * {
				@apply cursor-pointer;
			}

			&::before {
				content: "";
				@apply absolute top-[0.5625rem] h-[0.375rem] w-[0.375rem] rounded-[50%] bg-teal left-0;
				@apply transition-opacity duration-500 ease-power2-out opacity-0;
			}

			&.active {
				&::before {
					@apply opacity-100;
				}
			}
		}

		.list-item {
			@apply bg-neutral-700 ~py-[0.5rem]/[0.75rem] ~px-[1rem]/[1.5rem] border-b-[1px] border-dark-grey last:border-b-0;
		}

		.stat-items {
			@apply flex max-md:flex-col flex-wrap border-r-[1px] border-t-[1px] border-dark-grey;
		}

		.stat-item {
			@apply md:basis-[calc(100%/2)] lg:basis-[calc(100%/3)] flex-1 flex flex-col items-start ~gap-[0.5rem]/[0.75rem] ~pt-[2.5rem]/[4.25rem] ~px-[1.25rem]/[2rem] ~pb-[1.25rem]/[2rem] ~pr-[3rem]/[3rem];
			@apply border-l-[1px] border-b-[1px] border-dark-grey;
		}

		.media-container {
			@apply relative aspect-video rounded-[0.25rem] overflow-hidden;

            &.video {
                @apply bg-pitch-black;
                
				iframe {
					@apply absolute center-xy min-h-full min-w-full h-auto w-auto;
				}
			}

			.media-thumbnail {
				@apply absolute top-0 left-0 h-full w-full z-[2];

				img {
					@apply absolute top-0 left-0 object-cover h-full w-full z-[1];
				}
			}

			.media-play {
				@apply border-[1px] border-white-20 rounded-[0.25rem] h-[4rem] w-[4rem] left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] scale-100 absolute bg-[rgba(255,255,255,0.01)] cursor-pointer z-[3] flex items-center justify-center backdrop-blur-[0.9375rem];
                @apply transition-transform duration-300 ease-power2-out hover:scale-110 will-change-transform;

                svg {
                    @apply h-[0.875rem];
                }
			}
		}
	}
}
