@layer components {
	.content-four-across-tiles {
		.item {
			@apply relative bg-neutral-10 dark:bg-neutral-700 overflow-hidden max-xl:border-b-[1px] md:ml-[-1px] md:border-l-[1px] border-light-grey dark:border-dark-grey cursor-default;

			&.hoverable {
				@apply cursor-pointer;

				&:hover {
					@screen xl {
						@apply bg-rust;

						h4,
						p {
							@apply text-white;
						}

						.item-image {
							@apply rotate-90 invert brightness-100;
						}

						.btn {
							p {
								@apply !text-white;
							}

							svg path {
								@apply !fill-white;
							}
						}
					}
				}
			}

			&,
			h4,
			p {
				@apply transition-colors duration-500 ease-power2-out;
			}
		}

		.item-image {
			@apply transition-all duration-500 ease-power2-out dark:invert dark:brightness-100;
		}
	}
}
