@layer components {
    .resources-featured {
        .hover-overlay {
            @apply absolute inset-0 bg-[radial-gradient(95.74%_72.48%_at_90.44%_105%,_#00A1FF_0%,_rgba(0,161,255,0)_100%)] opacity-0 transition-opacity duration-300 pointer-events-none;
        }

        .group:hover .hover-overlay {
            @apply opacity-50;
        }
    }
}
