@layer components {
	.resources-featured {
		.item {
            @apply relative;

            &, & * {
                @apply cursor-pointer;
            }

			&::before {
				content: "";
				@apply absolute top-0 left-0 h-full w-full pointer-events-none scale-y-[-1] z-[1] rounded-[0.5rem] overflow-hidden;
                @apply opacity-0 duration-300 ease-power2-out transition-opacity;

				background: radial-gradient(
					95.74% 72.48% at 90.44% -25.87%,
					#00a1ff 0%,
					rgba(0, 161, 255, 0) 100%
				);
			}

			&-link {
				@apply absolute top-0 left-0 w-full h-full z-[2];
			}

			&-card {
				@apply relative flex flex-col ~gap-[2rem]/[3rem] ~p-[1.25rem]/[2rem] border border-gray rounded-[0.5rem] z-[2];
                @apply transition-colors duration-300 ease-power2-out;
			}

			&-head {
				@apply flex flex-col gap-[1.5rem];
			}

			&-tag {
				@apply flex gap-[0.5rem] items-center;
			}

			&-square {
				@apply h-[0.625rem] w-[0.625rem] aspect-square bg-green rounded-[0.125rem];
			}

			&-media {
				@apply w-full h-auto aspect-[303/204] md:aspect-[357/276] relative cursor-pointer;
			}

			&-thumbnail {
				@apply rounded-[0.5rem] overflow-hidden absolute top-0 left-0 h-full w-full z-[2];
			}

            &:hover {
                &::before {
                    @apply opacity-50;
                }
                
                .item-card {
                    @apply border-green;
                }
            }
		}
	}
}
