@layer components {
	.resources-grid {
		.select {
			@apply w-full md:w-[16.25rem];
		}

		.cards-container {
			@apply flex flex-wrap max-sm:flex-col w-[calc(100%+1.5rem)] mx-[-0.75rem];
		}

		.empty,
		.load-more {
			&:not(.active) {
				@apply hidden;
			}
		}

        .load-more {
			@apply mt-[1rem];
		}

		.empty {
			@apply ~py-[2.5rem]/[4rem];
		}
	}
}
