@layer components {
	.content-large-diagram-graphic {
		.media-container {
			@apply rounded-[0.5rem] border border-green w-full overflow-hidden;
            box-shadow: 0 0 140px -50px rgba(0, 0, 0, 0.25);

			&-inner {
				@apply relative aspect-[545/337] w-full h-auto;
			}

			&.video {
				@apply bg-black;

				video {
					@apply absolute min-h-full min-w-full h-auto w-auto aspect-video;
					@apply translate-x-[-50%] translate-y-[-50%] left-[50%] top-[50%];
				}
			}
		}
	}
}
