@layer components {
	.content-rows-title-content {
		.item {
            &, h4, p, small {
                @apply transition-colors duration-300 ease-[ease];
            }

			.btn-arrow {
				@apply h-[2.25rem] w-[2.25rem] rounded-[50%] flex items-center justify-center;
				@apply transition-colors duration-300 ease-power2-out bg-black;

                svg {
                    @apply transition-transform duration-300 ease-power2-out will-change-transform;
                    
                    path {
                        @apply fill-white;
                        @apply transition-colors duration-300 ease-[ease];
                    }
                }
			}

            &.hoverable {
                &:hover {
                    @apply bg-rust;

                    h4, p, small {
                        @apply text-white;
                    }

                    .btn-arrow {
                        svg {
                            @apply translate-x-[0.25rem];
                        }
                    }
                }
            }
		}
	}
}
