@layer components {
    .accordion-faq {
        .acc {
			@apply flex flex-col ~py-[1.25rem]/[2rem] ~px-[1rem]/[3rem];
            @apply border-b-[1px] border-b-light-grey dark:border-b-dark-grey last-of-type:border-b-0;

			&.active {
				.acc {
					&-head {
						svg {
							@apply -rotate-180;
						}
					}

					&-body {
						@apply h-auto overflow-visible;
					}

					&-body-inner {
						@apply opacity-100 translate-y-0 visible;
						@apply transition-all duration-500 ease-power2-out;
					}
				}
			}

            &-head {
                @apply cursor-pointer flex gap-[0.75rem] items-center justify-between;

                svg {
                    @apply transition-transform duration-300 ease-power2-out;
                }
            }

            &-body {
                @apply overflow-hidden h-0;
            }

            &-body-inner {
                @apply ~pt-[0.5rem]/[0.75rem] opacity-0 translate-y-[-1.25rem] invisible;
            }
		}
    }
}