@layer components {
    .partners-grid {
        /* Add your styles here */
    }
}

.pg-btn {
      display:flex;justify-content:center;align-items:center;
      padding:9px 16px 8px 16px;
      border-radius:40px;border:1px solid #D9D9D9;
      color:#000;font-size:12px;font-weight:400;
      line-height:130%;letter-spacing:1.2px;
      text-transform:uppercase;background:#f8f9fb;
      transition:all .25s ease;
}
.pg-btn:hover {border-color:#206EEC;color:#206EEC;}
.pg-btn.active {
      border:1px solid #206EEC;
      background:#206EEC;color:#fff;
}